<% if @consultant.certifications.size > 0 %>
    <div class="row">
      <div class="small-12 columns">
        <h4><%= t('views.profile.headers.certification') %></h4>
        <ul>
          <% @consultant.certifications.pluck(:label).each do |c| %>
            <li><%= c %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
