<% if @consultant.educations.size > 0 %>
    <div class="row">
      <div class="small-12 columns">
        <h4><%= t('views.profile.headers.education') %></h4>
        <%= render @consultant.educations %>
      </div>
    </div>
<% end %>
