<% if @consultant.skills.size > 0 %>
    <div class="row">
      <div class="small-12 columns">
        <h3><%= t('views.profile.headers.expertise') %></h3>
        <%= @consultant.skills_list %>
      </div>
    </div>
<% end %>
