<h1>Consultant Dashboard</h1>
<div class="row">
  <div class="medium-8 columns vr">
    <h4>Inbox</h4>
    <%= render 'conversations/inbox', conversations: @messages %>
  </div>
    <%= render 'profiles/side_column' %>
  </div>
</div>
