<h1>Consultant Dashboard</h1>
<div class="row">
  <div class="medium-9 columns">
    <h4>Inbox</h4>

  </div>
  <div class="medium-1 columns vr">
    &nbsp;
  </div>
  <%= render 'profiles/side_bar' %>
</div>
