<tr>
  <td>
    <%= link_to consultant.full_name, consultant_path(consultant) %>
  </td>
  <td>
    <%= mail_to consultant.email, "Send Email" %>
  </td>
  <td>
    <%= consultant.approved_status.label %>
  </td>
</tr>
