<tr>
  <td>
    <%= link_to consultant.user.full_name, consultant_path(consultant) %>
  </td>
  <td>
    <%= mail_to consultant.user.email, "Send Email" %>
  </td>
  <td>
    <%= consultant.approved_status.label %>
  </td>
  <td>
    <%= link_to 'Download Contract', contract_consultant_path(consultant) if policy(consultant)
            .contract? %>
  </td>
</tr>
