<h1>Consultants</h1>
<p>
  Download:
  <%= link_to 'Excel', consultants_path(format: 'xls') %> |
  <%= link_to 'CSV', consultants_path(format: 'csv') %>
</p>
<table id="consultants" data-source="<%= consultants_url(format: "json") %>" style="overflow: auto">
  <thead>
  <td>UID #</td>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Phone</td>
  <td>Email</td>
  <td>Status</td>
  <td>Created Date</td>
  <td>Pending Approval Date</td>
  <td>Approved Date</td>
  <td>On Hold Date</td>
  <td>Rejected Date</td>
  <td>Last Sign in Date</td>
  <td>Modified Date</td>
  <td>Sign in Count</td>
  <td>Contract Effective Date</td>
  <td>Contract Version</td>
  <td>Rate</td>
  <td>Download Resume</td>
  <td>Download Contract</td>
  <td>1st Project Positions</td>
  <td>1st Project POC Name</td>
  <td>1st Project POC Email</td>
  <td>1st Project POC Phone Number</td>
  <td>2nd Project Positions</td>
  <td>2nd Project POC Name</td>
  <td>2nd Project POC Email</td>
  <td>2nd Project POC Phone Number</td>
  <td>3rd Project Positions</td>
  <td>3rd Project POC Name</td>
  <td>3rd Project POC Email</td>
  <td>3rd Project POC Phone Number</td>
  </thead>
  <tbody>
  </tbody>
</table>
