<h1>Consultants</h1>
<table id="consultant_lists">
  <thead>
  <td>Name</td>
  <td>Contact</td>
  <td>Status</td>
  </thead>
  <tbody>
  <% @consultants.each do |consultant| %>
      <%= render consultant %>
  <% end %>
  </tbody>
</table>

<%= paginate @consultants %>
