html {
	position: relative;
	min-height: 100% !important;
	width: 100%;
	height: 100%;
}

body {
    @extend %body-default;
    width: 100%;
	height: 100% !important;
    min-height: 100% !important;
	margin: 0;
	padding: 0;
	color: color(body);
    font-size: $font-size-base;
	font-weight: normal;
	line-height: 1.25em;
    background: color(bg-secondary);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#site-wrapper {
    @extend %clearfix;
    position: relative;
	width: 100%;
    height: auto !important;
	min-height: 100% !important;
    position: relative;
    
    &.page-landing {
        background: color(map-water);
        height: 100% !important;
    }
    
    @include responsive($media: 'phone-tablet') {
        
    }
    
    @include responsive($media: 'phone') {
        
    }
}

#main-header,
#main-content {
    display: block;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    box-sizing: border-box;
    
    &.main {
        padding-top: 10rem;
    }
    
    @include responsive($media: 'tablet-portrait') {
        float: none;
        margin-left: 0;
        padding-top: 2rem;
    }
    
    @include responsive($media: 'phone-landscape') {
        padding-top: 1rem;
    }
}

#main-header {
    width: size(header-main);
    height: 100%;
    background: color(bg-main);
    box-shadow: inset 0 rem(60px) 0 0 color(primary);
    padding-top: rem(60px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    transition: width 0.2s ease-out;
      
    &.main {
        box-shadow: inset 0 rem(100px) 0 0 color(primary);
    }
    
    &.page-landing {
        box-shadow: none;
    }
    
    @include responsive($media: 'laptop') {
        width: size(header-main-medium);
        transition: width 0.2s ease-out;
    }
    
    @include responsive($media: 'tablet-landscape') {
        width: size(header-main-small);
        transition: width 0.2s ease-out;
    }
    
    @include responsive($media: 'tablet-portrait') {
        width: 100%;
        height: size(header-main-mobile);
        min-height: size(header-main-mobile) !important;
        padding-top: 0;
        padding-bottom: 0;
        position: static;
        transition: width 0.2s ease-out;
        
        &.main {
            padding-top: 0;
        }
        
        &.version2 {
            display: none;
        }
    }
}

#main-content {
    width: 100%;
    height: 100% !important;
    min-height: 100% !important;
    background: color(bg-secondary);
    padding-left: size(header-main);
    padding-top: rem(130px);
    position: relative;
    transition: width 0.2s ease-out;
    transition: padding 0.2s ease-out;
    
    &:after {
        @extend %before-after-absolute;
        width: 100%;
        height: rem(60px);
        background: color(primary-dark);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        transition: width 0.2s ease-out;
    }
  
    &.main {
        &:after {
            height: rem(100px);
        }
    }
    
    &.page-landing {
        
    }
    
    @include responsive($media: 'laptop') {
        padding-left: size(header-main-medium);
        transition: padding 0.2s ease-out;
        
    }
    
    @include responsive($media: 'tablet-landscape') {
        padding-left: size(header-main-small);
        transition: padding 0.2s ease-out;
    }
    
    @include responsive($media: 'tablet-portrait') {
        padding-left: 0;
        box-shadow: none;
        transition: padding 0.2s ease-out;
        
        &.main {
            &:after {
                display: none;
            }
        }
    }
    
    @include responsive($media: 'tablet-small') {
        
    }
    
    @include responsive($media: 'phone-landscape') {
        
    }
}

#main-footer {
    display: none;
}

*[data-type^="template-"] {
    display: none;
}

/* ---

Space relationships between editorial elements

--- */
* {
    h1 + &,
    h2 + &,
    h3 + &,
    h4 + &,
    h5 + & {
        margin-top: 1em;
    }
    
    p + &:not(div, section, article),
    ul + &:not(div, section, article),
    ol + &:not(div, section, article),
    a + &:not(div, section, article),
    figure + &:not(div, section, article),
    img + &:not(div, section, article),
    table + &:not(div, section, article),
    iframe + &:not(div, section, article),
    video + &:not(div, section, article),
    & + p,
    & + ul,
    & + ol,
    & + a,
    figure + &,
    img + &,
    table + &,
    iframe + &,
    video + & {
        margin-top: 1rem;
    }
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.25em;
}

h1 {
	font-size: 2.25em;
    color: color(primary);
}

h2 {
	font-size: 1.85em;
}

h3 {
	font-size: 1.35em;
}

h4 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.85em;
}

a {
	text-decoration: none;
    color: inherit;

	&:hover {
		text-decoration: none;
		transition: all 0.2s ease-out;
	}

	&.link-icon {
        display: inline-block;
		padding-right: 22px;
		font-weight: 400;
		font-size: 1.15em;
		line-height: 1em;
             
		@include icon($icon: glyph(cr-arrow-right), $align: 'right', $size: 16px, $valign: 'middle');

		&:before {
			line-height: 1em;
            object-position: absolute;
            top: 1px;
            right: -2px;
            margin-top: 0;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

p {
    a {
        color: color(primary);
        
        &:hover {
            text-decoration: underline;
        }
    }
}

sub,
sup {
    display: inline-block;
    font-size: 0.5em;
    line-height: 1em;
    font-weight: 300;
}

sup {
    vertical-align: top;
    margin-top: -0.5em;
    
    @include responsive($media: 'phone') {
        margin-top: -0.35em;
    }
}

sub {
    vertical-align: bottom;
    margin-bottom: -0.5em;
    
    @include responsive($media: 'phone') {
        margin-bottom: -0.35em;
    }
}

ul,
ol {
	list-style: none;
	text-indent: 0;

	&.list {
		margin-top: 1em;

		li {
			position: relative;
			margin-bottom: 6px;
			padding-left: 14px;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline;
				margin: 0;
				padding: 0;
				width: auto;
				color: color(gray-light);
			}
		}
	}

	&.horizontal {
		li {
			display: inline-block;
		}
	}
}

ul.list {
	li {
		display: block;

		&:before {
			content: "•";
		}
	}
}

ol {
	counter-reset: item;

	& > li {
		&:before {
			content: counter(item) ".";
			counter-increment: item;
            display: inline;
		}
	}
}

figure {
    overflow: hidden;
    
    img {
        width: 100%;
        height: auto;
    }
    
    &.square {
        @include aspect-ratio(1,1);
    }
}

.place-right {
    float: right;
}

.place-left {
    float: left;
}

.inline {
    display: inline-block !important;
    width: auto;
}


/* ===== TEMPLATE BASE STYLES  ===== */

.page-content,
.page-header {
    width: 100%;
    max-width: 90rem;
    box-sizing: border-box;
    padding-left: size(margin-page);
    padding-right: size(margin-page);
    
    @include responsive($media: 'laptop') {
        padding-left: size(margin-page-medium);
        padding-right: size(margin-page-medium);
    }
    
    @include responsive($media: 'tablet-landscape') {
        padding-left: size(margin-page-small);
        padding-right: size(margin-page-small);
    }
    
    @include responsive($media: 'phone-landscape') {
        padding-left: size(margin-page-mobile);
        padding-right: size(margin-page-mobile);
    }
}

.page-content {
    padding-bottom: 3rem;
    
    &.fullwidth {
        max-width: 80vw;
    }
    
    .page-intro,
    .section-intro {
        @extend %clearfix;
        height: auto;
        min-height: rem(80px);
        margin-bottom: 4rem;
        position: relative;
        
        h1 {
            
        }
        
        h2 {
            font-size: 1.75rem;
            line-height: 1.25em;
            color: color(body-dark);
            margin-top: 2rem;
            text-align: left !important;
        }

        .page-description,
        .section-description {
            width: 65%;
        }

        figure {
            width: 28%;
            position: absolute;
            bottom: -2rem;
            right: -1rem;

            img {
                width: 100%;
                height: auto;
            }

            &.figure-account-manager {
                bottom: 0;
            }
            
            &.figure-business-unit {
                width: 33% !important;
                bottom: 2rem !important;
                right: 0 !important;
            }
        }
        
        &.align-center {
            h1,
            h2,
            h3,
            .page-description,
            .section-description {
                text-align: center !important;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    @include responsive($max-width: '640px') {
        .page-intro,
        .section-intro {
            .page-description,
            .section-description {
                width: 100% !important;
            }
            
            figure {
                display: none;
            }
        }
    }
}

.page-header {
    height: auto;
    margin-bottom: 5rem;
    
    h1,
    h2 {
        text-align: center;
        color: color(primary);
    }
    
    &.page-tabs,
    &.dashboard-header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    &.dashboard-header {
        @extend %content-width;
        height: size(page-header);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 500;
    }
}

.page-subheader {
    
}

.page-section {
    padding-bottom: 1.5rem;
    
    & > h1,
    & > h2,
    & > h3 {
        color: color(primary);
        margin-bottom: 1em;
    }
    
    & + & {
        border-top: 2px solid #FFF;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
    }
}



.section-header {
    
}


.page-actions,
.page-tools {
    
}

.page-actions {
    
}

.page-tools {
    
}

.page-footer {
    
}

.page-sidebar {
    
}

section {
    
}

.figure-process {
    display: block;
    width: 100%;
    margin: 0rem auto 0  auto;
}
