#map {
    background: color(map-water) !important;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.map-details {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: #000;
    padding: 10px 15px;
    z-index: 2;
}

.map-details span {
    float: right;
}

.map-details p,
.map-details span {
    font-size: 0.85rem;
}

.map-cluster-popup {
    width: auto;
    min-width: 20rem;
    max-width: 26.25rem;
}

.consultant-wrapper {
    width: auto;
    min-width: rem(300px);
    max-width: rem(420px);
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    .consultant-thumbnail {
        display: inline-block;
        width: rem(40px);
        height: rem(40px);
        background: color(primary);
        position: relative;
        border-radius: 100%;
        vertical-align: top;

        &:before {
            display: block;
            width: rem(40px);
            height: rem(40px);
            line-height: rem(40px);
            font-size: rem(22px);
            text-align: center;
            color: #FFF;
            position: absolute;
            top: 0;
            left: 2px;
        }
    }

    .consultant-info {
        display: inline-block;
        margin-left: 0.75rem;
        margin-top: -0.05rem;
        width: auto;
        font-size: 0.875rem;
        vertical-align: top;

        .consultant-name {
            font-size: 1.125rem;
            text-transform: capitalize;
        }

        .consultant-title {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }
    }
}

.leaflet-marker-icon {
    &.marker-cluster {
        display: block;
        width: 2.25rem !important;
        height: 2.25rem !important;
        margin-left: -1.125rem !important;
        margin-top: -1.125rem !important;
        box-shadow: none;
        border: none;
        background: color(secondary);
        color: #FFF;
        border-radius: 100%;
        
        &.marker-cluster-small,
        &.marker-cluster-medium,
        &.marker-cluster-large  {
            background: color(secondary);
            
            div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background: color(secondary);
                margin: 0;
                padding: 0;
                
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-family: $font-bodytext;
                    font-weight: 900;
                    font-size: 0.85rem !important;
                    line-height: 2rem !important;
                }
            }
        }
        
        &.marker-cluster-small {
            width: 2.25rem !important;
            height: 2.25rem !important;
            margin-left: -1.125rem !important;
            margin-top: -1.125rem !important;
            
            div {
                span {
                    font-size: 0.85rem !important;
                    line-height: 2.25rem !important;
                }
            }
        }
        
        &.marker-cluster-medium {
            width: 2.85rem !important;
            height: 2.85rem !important;
            margin-left: -1.425rem !important;
            margin-top: -1.425rem !important;
            
            div {
                span {
                    font-size: 1rem !important;
                    line-height: 2.85rem !important;
                }
            }
        }
        
        &.marker-cluster-large {
            width: 3.35rem !important;
            height: 3.35rem !important;
            margin-left: -1.675rem !important;
            margin-top: -1.675rem !important;
            
            div {
                span {
                    font-size: 1.125rem !important;
                    line-height: 3.35rem !important;
                }
            }
        }
    }
}

.leaflet-popup {
    .leaflet-popup-close-button {
        display: block;
        background: none;
        color: rgba(#FFF, 0) !important;
        margin: 4px 4px 0 0;
        
        &:before {
            display: block;
            font-family: $font-glyphs;
            content: glyph(cross-light);
            width: rem(20px);
            height: rem(20px);
            line-height: rem(20px);
            font-size: 1rem;
            font-weight: bold;
            color: color(primary-light) !important;
            text-indent: 0 !important
        }
        
        &:hover {
            &:before {
                color: color(body-dark) !important;
                transition: color 0.1s ease-out;
            }
        }
    }
    
    .leaflet-popup-content-wrapper {
        box-shadow: 2px 2px 1px 0 rgba(#003550, 0.35);
        padding: 0.75rem 0;
        
        .leaflet-popup-content {
            font-family: $font-bodytext;
            font-size: 0.925rem;
            line-height: 1.45em;
            padding: 1.25rem 1.75rem !important;
        }
    }
}

.main-content {
    &.page-landing {
        
        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(color(primary-darker), 0.5);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 50;
            pointer-events: none;
        }
        
        .landing-site-brand {
            width: 15.625rem;
            height: 3.125rem;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -15rem 0 0 -7.8125rem;
            z-index: 100;
            cursor: pointer;

            h1 {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 4.5rem;
                font-weight: 800;
                color: #FFF;
                text-align: center;
            }
        }

        .landing-content {
            display: block;
            width: 100%;
            height: 5rem;
            text-align: center;
            color: #FFF;
            position: absolute;
            top: 50%;
            left: 0;
            margin: -6rem 0 0 0;
            z-index: 100;

            h2 {

                font-size: 3.5rem;
                line-height: 1.25em;
                font-weight: normal;

            }

            a {

            }
        }
        
        &.map-on {
            &:before {
                display: none;
            }
            
            .landing-site-brand {
                width: 15.625rem;
                height: 3.125rem;
                position: absolute;
                top: 0.65rem;
                margin-top: 0;

                h1 {
                    font-size: 2.25rem;
                }
            }
            
            .landing-content {
                display: none;
            }
        }
        
    }
}

.landing-menu-toggle {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 1rem;
    left: 1.65rem;
    cursor: pointer;
    z-index: 500;

    &:before {
        display: block;
        font-family: $font-glyphs;
        color: #FFF;
        content: glyph(menu);
        font-size: 1.35rem;
    }
    
    &.is-active {
        &:before {
            content: glyph(cross);
            color: color(primary-darker);
        }
    }
}

#main-header {
    &.landing-header {
        display: none !important;
        padding-top: 2rem !important;

        &.is-on {
            display: block !important;
        }
    }
}

.pager-navigation {
    display: block;
    width: 77%;
    height: 1.5rem;
    padding-top: 1.125rem;
    margin-top: 1.125rem;
    position: relative;
    
    .page-count {
        display: block;
        width: calc(98% - 2.5rem);
        height: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
        color: color(primary-lighter);
        position: absolute;
        bottom: 0;
        left: 1.25rem;
        
        .page-number {
            font-weight: 600;
        }
    }
    
    .prev,
    .next {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        bottom: 0;
        text-align: center;
        
        &:before {
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
            font-family: $font-glyphs;
            font-size: 1.25rem;
            color: color(primary-light);
        }
        
        &:hover {
            &:before {
                color: color(primary-darker);
                transition: color 0.2s ease-out;
            }
        }
    }
    
    .prev {
        left: 0;
        
        &:before {
            content: glyph(arrow-left);
        }
    }
    
    .next {
        right: 0;
        
        &:before {
            content: glyph(arrow-right);
        }
    }
}

.landing-search {
    display: block;
    width: 30%;
    height: 2.5rem;
    padding: 0 2.5rem;
    
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 100;
    
    .search-form {
        padding-right: 3rem;
        position: relative;
        box-shadow: inset 0 0 0 1px rgba(color(primary-light), 0.5);
        border-radius: size(border-radius);
        
        input[type="text"] {
            background: none;
            height: 2.5rem;
            color: color(primary);
            letter-spacing: 1px;

            &::-webkit-input-placeholder {
                color: color(primary-light);
            }

            &:-moz-placeholder {
                color: color(primary-light);
            }

            &::-moz-placeholder {
                color: color(primary-light);
            }

            &:-ms-input-placeholder {
                color: color(primary-light);
            }

            &:hover,
            &:focus {
                box-shadow: none;
                border: none;
            }
        }

        button {
            width: 2.5rem;
            height: 2.5rem;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;

            &:before {
                width: 2.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
                font-size: 1.45rem;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                text-align: center;
                color: color(primary-light);
            }
        }
    }
    
    &.focus,
    &:hover {
        
        .search-form {
            background: #FFF;
            box-shadow: none;
            transition: background 0.15s ease-out;

            input[type="text"] {
            
            }

            button {
                &:before {
                    color: color(primary);
                    transition: color 0.25s ease-out;
                }
            }
        }
    }
    
    &.is-on {
        .search-form {
            margin-bottom: 1.25rem;
            padding-bottom: 1.25rem;
            border-bottom: 2px solid rgba(color(primary-light), 0.5);
        }
        
        .search-results {
            display: block;
            width: 30%;
            height: 100%;
            padding: 4.85rem 2.5rem 0.5rem 2.5rem;
            background: #FFF;
            box-sizing: border-box;
            position: fixed;
            top: 0;
            right: 0;
            z-index: -1;
            box-shadow: -16px 0 8px 0 rgba(color(primary-darker), 0.125);
            
            .consultant-info {
                cursor: pointer;
                
                .consultant-name {
                    color: color(primary);
                }
            }
            
            .search-results-scroller {
                display: block;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    height: 30px;
                    position: absolute;
                    top: 48px;
                    left: 0;
                    background: rgba(#FFF,0.9);
                    z-index: 10;
                    box-shadow: 0 20px 8px 0 rgba(#FFF,0.9);
                }
                
                .consultant-wrapper {
                    margin-top: 1rem;
                    
                    &:first-of-type {
                        margin-top: 3rem;
                    }
                }
            }
            
            .close-search-results {
                display: block;
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                top: 1rem;
                left: -2.25rem;
                z-index: 5;
                background: #FFF;
                border-radius: size(border-radius);
                cursor: pointer;
                
                &:before {
                    width: 2.5rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    font-size: 1rem;
                    color: color(primary-lighter);
                    text-align: center;
                    margin-left: 0.75rem;
                }
                
                &:hover {
                    &:before {
                        color: color(primary-darker);
                        transition: color 0.2s ease-out;
                    }
                }
            }
        }        
    }
}

.button-landing {
    @include scale(1);
    display: inline-block;
    background: color(primary-darker);
    //background: #FFF;
    padding: 0.75rem 3.5rem;
    border-radius: size(border-radius);
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    transition: scale 0.75s ease-out;
    margin-top: 2.5rem;
    //color: color(primary-darker);
    
    .subline {
        display: block;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 0.875rem;
        letter-spacing: 1px;
        color: color(primary-light);
    }
    
    &.consultants {
        margin-right: 2rem;
    }
    
    
    &:hover {
        @include scale(1.125);
        transition: scale 0.5s ease-out;
    }
}

.explore-map {
    display: inline-block;
    width: rem(100px);
    height: 1.25rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

/*

<section class="page-landing">
        <header>
            <h1>GCES</h1>
        </header>
        <article>
            <h2>Join Our Community of 253 Members</h2>
            <a class="button-landing consultants" href="">
                <span>Consultants</span>
                <span class="subline">Sell Your Services</span>
            </a>
            <a class="button-landing companies" href="">
                <span>Companies</span>
                <span class="subline">Buy Services</span>
            </a>
        </article>
    </section>

*/
