<header class="page-header">
    <h2><%= t('views.registrations.new.title') %></h2>
</header>
<div class="page-content">
    <%= render "devise/registrations/form" %>

    <%= render "devise/shared/links" %>
</div>