<p style="margin-bottom: 20px;">You are Invited to one Business Unit Role.</p>

<p>Click
  <%= link_to 'here', {:controller => "business_unit_roles",
  :action => "accept_role",
  :only_path => false, :accept_token => @accept_token}, {:class => "button-alt"} %>
  Please login and Accept your role
</p>
<%  if @password != '' -%>
    And Your account has been created
    Password: <%= @password -%>
<% end -%>