<p>Hello <%= @user.full_name -%>, </p>
<p>
  Thank you for registering your Business Unit <%= @business_unit_name.name -%> on GCES.
  To complete the set up process, please assign users to one or more of the 3 Business Unit roles on the system:
  Selection Authority, Requisition Authority, and Approval Authority.
  This will allow you to hire consultant in the GCES network.
</p>
<p>Please click <%= link_to 'here', {:controller => "business_unit_names",
                       :action => "accept_by_token", :access_token => @business_unit_name.access_token,
                       :only_path => false}, {:class => "button-alt"} %> to Assign Business Unit roles
</p>