<div class="panel">
  <div class="row">
    <div class="medium-12 columns">
      <p>
        <% if consultant_signed_in? %>
            You decided you were not interested in this project. The company may reach out to you in
            the future for additional engagements.
        <% else %>
            The consultant that you reached out to is not interested in this project at this time.
        <% end %>
      </p>
    </div>
  </div>
</div>
