<div class="medium-12 columns">
  <% if consultant_signed_in? %>
      <div class="panel">
        <div class="row">
          <div class="medium-12 columns">
            <p>
              You've rejected the terms given to you. Please wait for the client company to
              respond to your rejection with updated terms
            </p>

            <%= render 'conversations/hired_terms' %>
          </div>
        </div>
      </div>
  <% else %>
      <div class="panel">
        <div class="row">
          <div class="medium-8 columns">

            <p>
              The consultant rejected the terms you provided. You can either update the terms or
              let the consultant know that you are not pursuing their services anymore.
            </p>

            <%= render 'conversations/hired_terms' %>
          </div>
        </div>
        <div class="medium-4 columns">
          <%= content_tag(:button,
                          'Hire',
                          type:  :button,
                          class: 'button tiny respond-to-message') %>
        </div>
      </div>
      <div class="row respond-to-message-form" style="display: none; opacity: 0;">
        <div class="medium-12 columns">
          <%= render 'conversations/hire_form' %>
        </div>
      </div>
  <% end %>
</div>
