%li.list-group-item.clearfix{:class=> (conversation.is_unread?(current_admin) ? '' : 'read')}
  = link_to participant_names(conversation), admin_conversation_path(conversation), class: 'pull-left'
  %div.last-message= conversation.last_message.body
  %span.pull-right= conversation.last_message.created_at.to_s(:long)