= content_tag(:div, flash[:alert], class: 'alert alert-danger') if flash[:alert]
= content_tag(:div, flash[:notice], class: 'alert alert-info') if flash[:notice]
= content_tag(:div, flash[:error], class: 'alert alert-error') if flash[:error]