@import "variables";

ul {    
  &.list {
    li {
    margin-left: 0;
    text-indent: 0;
    margin-bottom: 0.5rem;
      &:before {
      content: none;
      }
    }
  }
}

@media #{$medium-up} {
    .medium-4 {
      &.side {
        padding: 0 0 0 2rem;
        border-left: 2px solid $smoke;
      }
      .consultant-profile {
        border: none;
      }
    }
}
.conheader {
  padding-left: 0.9375rem;
  width: 80px;
  float: left;
  @media #{$small-only} {
    margin-bottom: 1rem;
  }  
  + div {
    width: auto;
    overflow: hidden;
    float: none;
  }
  a {
    display: block;
  }
}
