<% model.errors[:base].each do |message| %>
    <% if !@new_design %>
        <div class="alert-box alert"><%= message %></div>
    <% else %>
        <div class="ui-notification alert">
          <%= message %>
          <div class="action-close icon-cross-light"></div>
        </div>

    <% end %>
<% end %>
