<div class="row collapse prefix-radius">
  <%= f.label :rate %>
  <div class="small-4 columns">
    <span class="prefix">$</span>
  </div>
  <div class="small-8 columns">
    <%= f.input_field :rate %>
  </div>
  <%= f.error :rate %>
</div>
