//General Layouts

.feature-content {
    & > header {
        text-align: center;
        
        & > h1 {
            @extend %page-title;
        }
        
        & > h1 + p {
            color: color(body-dark);
            margin-top: 0.5rem;
        }
    }
    
    & > header + article {
        margin-top: 3rem;
    }
    
    & > article {        
        & > h1,
        & > h2 {
            color: color(primary);
        }
        
        figure {
            width: 35%;
            height: auto;
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    
    article + article {
        margin-top: 4rem;
    }
}