.thread-messages {
    margin-top: 1.5rem;
    
    .message-item {
        padding: 1rem 1rem 0.35rem 1rem;
        
        .byline {
            font-size: 0.85rem;
            line-height: 1.05em;
            font-style: italic;
            color: color(body-dark);
        }
        
        p {
            font-size: 0.85rem;
            line-height: 1.25em;
            margin-top: 0.35rem;
            color: color(alert-success);
        }
        
        &.style-default {
           
        }        
        
        &.style-box {
            border-radius: size(border-radius);
            background: rgba(color(alert-success),0.35);
            color: darken(color(alert-success), 10%);
        }
    }
    
    .message-item.style-default + .message-item.style-default {
        padding-top: 1rem;
        border-top: 1px solid rgba(color(alert-success),0.35);
    }
    
    .message-item.style-box + .message-item.style-box {
        margin-top: 0.75rem;
    }
}

.message-center {
    .message-center-header,
    .page-content {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
    }
    
    .message-center-header {
        width: size(header-main-small);
        padding: 2.125rem;
        
        .message-write {
            color: color(primary-light);
            font-weight: 600;
            font-size: 0.85rem;
            
            &:before {
                font-weight: normal;
            }
        }
        
        .go-back {
            display: none;
            color: color(primary-light);
            line-height: 5rem;
            margin-left: 1.5rem;
            font-weight: 600;
            cursor: pointer;
            
            &:before {
                font-weight: normal;
            }
        }
        
        &:after {
            @extend %before-after-absolute;
            width: 2px;
            height: 100%;
            background: #FFF;
            position: fixed;
            top: 0;
            left: calc(12.5rem - 1px);
        }
        
        @include responsive($max-width: 920px) {
            display: block;
            width: 100%;
            height: 5rem;
            padding: 0;
            
            .message-write {
                display: inline-block;
                width: auto;
                height: 5rem;
                margin: 0;
                line-height: 5rem;
                
                position: absolute;
                top: 0;
                right: 1.5rem;
            }
            
            .menu-vertical,
            .menu-style-2 {
                text-align: left;
                padding-left: 1.25rem;
                
                & > li,
                & > ul > li {
                    display: inline-block;
                    width: auto;
                    height: 5rem;
                    line-height: 5rem;
                    vertical-align: top;
                    margin-bottom: 0;
                    padding: 0 2rem;
                    
                    .count,
                    .stat-count {
                        display: inline-block;
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 1.425rem;
                        right: 0.725rem;
                        line-height: 0.9em;
                    }
                    
                    &.active,
                    &.is-active {
                        box-shadow: inset 0 -3px 0 0 color(primary-light);
                    }
                }
            }
            
            &:after {
                display: none;
            }
        }
        
        @include responsive($max-width: 661px) {
            position: fixed;
            top: 3.75rem;
            left: 0;
            z-index: 10;
            background: color(primary-lightest);
            
            .menu-vertical,
            .menu-style-2 {
                padding-left: 0;
                
                & > li {
                    padding: 0 1.25rem;
                    
                    .stat,
                    .stat-count {
                        right: 0;
                    }
                }
            }
            
            
            
            &.message-selected {
                .go-back {
                    display: block;
                }
                
                .menu-vertical,
                .menu-style-2,
                .message-write {
                    display: none;
                }
            }
        }
        
        @include responsive($max-width: 520px) {
            .menu-vertical,
            .menu-style-2 {
                padding-left: 0;
                
                & > li {
                    padding: 0 0.5rem;
                    
                    .stat,
                    .stat-count {
                        right: 0;
                        font-size: 0.85rem;
                        top: 1rem;
                    }
                }
            }
        }
        
        @include responsive($max-width: 490px) {
            .message-write {
                font-size: 0;
                
                &:before {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
    .page-content {
        width: calc(100% - 12.5rem);
        max-width: calc(100% - 12.5rem);
        margin-left: -0.25rem;
        padding-left: 0;
        padding-right: 0;
        
        .message-selection,
        .message-thread {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;
            
            & > header {
                display: 100%;
                height: 4.85rem;
                position: relative;
                
                .mini-search {
                    height: 4.85rem;
                    
                    &:before {
                        width: 4rem;
                        height: 4.85rem;
                        line-height: 4.85rem;
                        font-size: 1.375rem;
                        text-align: center;
                        color: color(primary-lighter-2);
                    }
                    
                    form {
                        height: 4rem;
                        padding-right: 4rem;
                    }
                }
            }
        }
        
        .message-selection {
            width: 20rem;
            transition: all 0.2s ease-out;
            
            & > header {
                box-shadow: inset 0 -2px 0 0 #FFF;
                
                .sort-by {
                    display: inline-block;
                    width: auto;
                    color: color(primary-lighter-2);
                    line-height: 4.85rem;
                    margin-left: 1.5rem;
                    padding-right: 1.5rem;
                    position: relative;
                    cursor: pointer;
                    
                    span {
                        &:before {
                            position: absolute;
                            top: 0.185rem;
                            right: 0;
                        }
                    }
                }
                
                .mini-search {
                    height: 3rem;
                    top: 1rem;
                    right: 5%;
                    padding: 0;
                    
                    &:before {
                        height: 3rem;
                        line-height: 3rem;
                        right: -0.5rem;
                    }
                    
                    &:hover,
                    &.active,
                    &.is-active {
                        width: 90%;
                        height: 3rem;
                        top: 1rem;
                        left: 5%;
                        padding: 0;
                    }
                }
            }
            
            .list-messages {
                margin-top: 0;
                
                & > li {
                    border-bottom: none;
                    box-shadow: inset 0 -2px 0 0 #FFF;
                    position: relative;
                    padding: 2rem 2rem 2rem 3.25rem;
                    position: relative;
                    font-size: 0.875rem;
                    color: color(primary-lighter-2);
                    cursor: pointer;
                    
                    .message-from {
                        display: block;
                        width: 100%;
                        font-weight: 600;
                        color: color(body-dark);
                        margin-bottom: 1rem;
                    }
                    
                    .message-timestamp {
                        position: absolute;
                        display: inline-block;
                        width: auto;
                        height: auto;
                        text-align: right;
                        top: 2rem;
                        right: 2rem;
                    }
                    
                    .message-subject {
                        display: block;
                        font-weight: 600;
                        color: color(body-dark);
                    }
                    
                    .message-summary {
                        font-size: 0.825rem;
                        line-height: 1.35em;
                        height: auto;
                        max-height: 2.325rem;
                        overflow: hidden;
                    }
                    
                    .message-markers {
                        width: 2rem;
                        height: auto;
                        position: absolute;
                        top: 2.4rem;
                        left: 1.5rem;
                        
                        .ui-markers {
                            display: block;
                        }
                        
                        .attachment {
                            position: absolute;
                            left: 0;
                            top: 1.9rem;
                        }
                    }
                    
                    &:hover {
                        background: rgba(color(primary-lighter),0.3);
                        transition: color 0.25s ease-out;
                    }
                    
                    &.active,
                    &.is-active {
                        background: #FFF;
                        box-shadow: 0 0 0 -3px #FFF, 0 3px 4px 0 rgba(color(primary-dark), 0.125);
                        z-index: 5;
                        
                        &:before {
                            @extend %before-after-absolute;
                            display: block;
                            width: 4px;
                            height: 100%;
                            background: color(primary);
                            top: 0;
                            left: -1px;
                            z-index: 6;
                        }
                    }
                    
                    &.is-unread,
                    &.unread {
                        .message-subject {
                            font-weight: 600;
                            color: color(body-dark);
                        }
                    }
                    
                    &.is-read,
                    &.read {
                        .message-from {
                            color: color(primary-lighter-2);
                        }
                        
                        .message-subject {
                            font-weight: normal;
                            color: color(primary-lighter-2);
                        }
                    }
                }
            }
        }
        
        .message-thread {
            width: calc(100% - 20rem);
            margin-left: -0.25rem;
            background: #FFF;
            padding: 0 5rem;
            
            & > header,
            .message-thread-container {
                position: relative;
                z-index: 5;
            }
            
            & > header {
                box-shadow: inset 0 -2px 0 0 color(primary-lightest);
                
                .menu-horizontal {
                    height:  4.85rem;
                    
                    li {
                        height:  4.85rem;
                        line-height:  4.85rem;
                        
                        a {
                            display: block;
                            width: 4.85rem;
                            height: 4.85rem;
                            font-size: 0;
                            padding: 0;
                            text-align: center;
                            
                            &:before {
                                display: block;
                                width: 4.85rem;
                                height: 4.85rem;
                                font-size: 1.875rem;
                                color: color(primary);
                                text-align: center;
                            }
                        }
                    }
                }
            }
            
            .message-thread-container {
                display: none;
                padding: 0 5rem 3rem 5rem;
                transition: all 0.2s ease-out;
                
                .message-entity {
                    position: relative;
                    padding-top: 3rem;
                    
                }
                
                .message-entity + .message-entity {
                    margin-top: 2.65rem;
                    border-top: 2px solid color(primary-lightest);
                }
                
                &.is-active {
                    display: block;
                }
            }
            
            .message-subject {
                font-family: $font-alternate;
                font-size: 1.85rem;
                color: color(body-dark);
                margin-bottom: 2rem;
            }
            
            .message-attachment {
                margin-top: 2rem;
                
                ul {
                    li { 
                        position: relative;
                        
                        &:before {
                            position: absolute;
                            top: 0;
                            left: -1.5rem;
                            color: color(primary-light);
                        }
                        
                        a {
                            color: color(primary-light);
                        }
                    }
                }
            }
            
            .message-meta {
                .message-from,
                .message-to {
                    color: color(body-dark);
                }
            }
            
            .message-timestamp {
                display: inline-block;
                width: auto;
                text-align: right;
                color: color(primary-lighter-2);
                font-size: 0.875rem;
                position: absolute;
                top: 2.95rem;
                right: 0;
                margin-top: 0;
            }
            
            .message-reply-form {
                @extend %clearfix;
                margin-top: 1.5rem;
                
                button,
                input[type="submit"] {
                    float: right;
                }
            }
            
            .user-thumbnail {
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 1.25rem;
                left: -4.5rem;
                background: none;
                box-shadow: 0 0 0 1px color(primary-lightest);
                transition: all 0.2s ease-out;
                
                img {
                    width: 3rem;
                    height: auto;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -1.5rem;
                }
                
            }
            
            &:after {
                @extend %before-after-absolute;
                width: calc(100% - 32.5rem);
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                background: #FFF;
                transition: all 0.2s ease-out;
            }
        }
        
        @include responsive($max-width: 1260px) {
            .message-selection {
                width: 15.625rem;
                transition: all 0.2s ease-out;
            }
            
            .message-thread {
                width: calc(100% - 15.625rem);
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                transition: all 0.2s ease-out;
                
                .message-thread-container {
                    padding-left: 0;
                    padding-right: 0;
                    transition: all 0.2s ease-out;
                }
                
                .message-meta {
                    padding-left: 3rem;
                    transition: all 0.2s ease-out;
                }
                
                .message-subject {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    line-height: 1.1em;
                }
                
                .user-thumbnail {
                    width: 1.25rem;
                    height: 1.25rem;
                    top: 1.5rem;
                    left: 0;
                    transition: all 0.2s ease-out;

                    img {
                        width: 1.5rem;
                        margin-left: -0.75rem;
                        top: 0.125rem;
                        transition: all 0.2s ease-out;
                    }

                }
                
                .message-attachment {
                    ul {
                        li { 
                            padding-left: 1.5rem;
                            
                            &:before {
                                left: 0;
                            }
                        }
                    }
                }
                
                &:after {
                    width: calc(100% - 28.125rem);
                }
            }
        }
        
        @include responsive($max-width: 920px) {
            width: 100%;
            max-width: 100%;
            margin-left: 0;
            transition: none;
            
            .message-selection {
                
                .list-messages {
                    position: relative;
                    z-index: 5;
                    
                    & > li {
                        box-shadow: inset 0 -2px 0 0 color(primary-lighter);
                    }
                }
                
                &:after {
                    display: block;
                    content: "";
                    width: 15.625rem;
                    height: 100%;
                    background: rgba(color(primary-lighter),0.325);
                    position: fixed;
                    top: 8.75rem;
                    left: 0;
                    transition: none;
                }
            }
            
            .message-thread {
                &:after {
                    width: calc(100% - 15.625rem);
                    left: 15.625rem;
                    top: 8.75rem
                }
                
                .message-subject {
                    padding-bottom: 0.35rem;
                    margin-bottom: 0;
                }
                
                .message-timestamp {
                    display: block;
                    position: static;
                    text-align: left;
                    padding-bottom: 1.75rem;
                    margin-top: 0;
                }
            }
        }
        
        @include responsive($max-width: 661px) {
            background: #FFF;
            
            .message-selection,
            .message-thread {
                display: block;
                
                &:after {
                    width: 100%;
                    background: #FFF;
                }
            }
            
            .message-selection {
                width: 100%;
                height: auto;
                overflow: hidden;
                
                & > header {
                    box-shadow: inset 0 -2px 0 0 color(primary-lightest);
                    z-index: 5;
                }
                
                * {
                    opacity: 1;
                    transition: opacity 0.1s ease-out;
                    transition-delay: 0.1s;
                }
                
                .list-messages {
                    & > li {
                        box-shadow: inset 0 -2px 0 0 color(primary-lightest);
                        padding-top: 1.65rem;
                        padding-bottom: 1.75rem;
                        
                        .message-from {
                            margin-bottom: 0.35rem;
                        }
                        
                        &:hover {
                            background: none;
                        }
                        
                        &.active,
                        &.is-active {
                            box-shadow: inset 0 -2px 0 0 color(primary-lightest);
                            background: none;
                            
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                
                &:after {
                    display: block;
                }
            }
            
            .message-thread {
                width: 0;
                height: 0;
                overflow: hidden;
                
                * {
                    opacity: 0;
                    transition: opacity 0.1s ease-out;
                    transition-delay: 0.1s;
                }
            }
            
            &.message-selected {
                
                .message-selection {
                    width: 0;
                    height: 0;
                    transition: none;
                    
                    * {
                        opacity: 0;
                        transition: opacity 0.15s ease-out;
                        transition-delay: 0.15s;
                    }
                }
                
                .message-thread {
                    width: 100%;
                    height: auto;
                    transition: none;
                    
                    & > header {
                        height: 0;
                        position: static;
                        padding: 0;

                        .menu-horizontal {
                            display: inline-block;
                            width: auto;
                            position: fixed;
                            top: 4.15rem;
                            right: 0;
                            z-index: 10;
                        }
                    }
                    
                    * {
                        opacity: 1;
                        transition: opacity 0.15s ease-out;
                        transition-delay: 0.15s;
                    }
                }
            }
        }
        
        @include responsive($max-width: 520px) {
            
        }
    }
    
    @include responsive($max-width: 661px) {
        padding-top: 8.75rem !important;
    }
}