<p>Dear <%= @consultant.full_name %>,</p>

<p>We recently made updates to our contract terms and conditions to maintain compliance with Federal law and to remain consistent with Client Company work provisions and contract clauses that flow down directly to our Consultants. The changes are viewable through the secure link to our web portal below. You are required to review and approve the changes before working on a new consulting engagement through GCES. Please log-in to the portal with your email and password and review and accept the changes.</p>

<p><%= link_to "Link to Log-In", new_consultant_session_url %></p>

<p>With Sincere Appreciation,</p>
<p>Global Consultant Exchange Services</p>
