.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Manage Offers
    %ol.breadcrumb
      %li
        %a{:href => "#"}  Home
      %li{:class => (mode == 'index' ? 'active' : '')}
        = link_to 'Offers', admin_projects_path
      - if mode != 'index'
        %li.active
          %strong= mode
.result-notice

- if flash[:notice]
  .alert.alert-info.custom-alert-margin.m-t-md
    = flash[:notice]