- page_title 'Manage Offers'

= render :partial => 'admin/projects/projects_grid'
.row.m-t-lg
  %button.btn.btn-default.wg-external-reset-button.btn-sm.pull-right.m-r-sm{"data-grid-name" => 'g1'} Reset
  %button.btn.btn-primary.m-r.wg-external-submit-button.btn-sm.pull-right.m-r-md{"data-grid-name" => 'g1'} Apply filter
  %button.btn.btn-info.wg-external-csv-export-button.btn-sm.m-l-sm{"data-grid-name"=>'g1'}
    Export To CSV
.row
  .wrapper.wrapper-content.animated.fadeInRight
    .ibox.float-e-margins
      .ibox-content.form-horizontal
        = render_grid(@projects_grid)