<div class="row options">
  <div class="row">
    <div class="medium-4 columns">
      <%= link_to t('views.page.contractor_benefits_html'), contractor_benefits_path, class: 'button' %>
    </div>
    <div class="medium-4 columns">
      <%= link_to t('views.page.how_we_do_it_html'), how_we_do_it_path, class: 'button' %>
    </div>
    <div class="medium-4 columns">
      <%= link_to t('views.page.consultant_benefits_html'), consultant_benefits_path, class: 'button' %>
    </div>
  </div>
</div>
