<div class="row">
  <div class="medium-12 columns">
    <div id="welcome">  
      <h1>Thank you for your request!</h1>
      <p>A member from GCES will be contacting you in the near future.</p>
    </div>
  </div>
</div>

