<div class="row">
  <div class="small-3">
    <ul class="side-nav">
      <% unless current_consultant.address %>
          <li>
            <%= link_to t('views.address.actions.add'), new_address_path %>
          </li>
      <% end %>
      <% if current_consultant.phones.empty? %>
          <li>
            <%= link_to t('views.phone.actions.add'), new_phone_path %>
          </li>
      <% else %>
          <li>
            <%= link_to t('views.phone.actions.index'), phones_path %>
          </li>
      <% end %>
      <% if current_consultant.project_histories.empty? %>
          <li>
            <%= link_to t('views.project.actions.index'), project_histories_path_path %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
