<div class="row">
  <h1>Thank you for registering!</h1>

  <p>You've signed up to become a consultant in our network.</p>

  <p>You should be receiving an email shortly with a link to confirm your registration.</p>

</div>
