<div class="row action"
  <ul data-orbit class="home-orbit">
    <li data-orbit-slide="consultant-benefits" class="slide-6 active">
      <div class="row">
        <h2 class="head">Unique GCES Features Enable Registered Consultants &amp; Mentors to&#8230;</h2>
        <div class="medium-6 columns">
          <h3>Increase Engagement Opportunities</h3>
          <ul>
            <li>Exposure to ever-expanding list of registered contractors nationwide</li>
            <li>Extensive consultant database search capabilities increase consultant visibility to Contractors</li>
            <li>Direct Consultant-Contractor communication and negotiation</li>
            <li>Pre-negotiated contracts enable rapid engagement</li>
            <li>Consultant quality control increases Contractor interest in registered consultants</li>
            <li>Mentor focus fills unique market niche</li>
          </ul>
        </div>
        <div class="medium-6 columns">
          <h3>Reduce Overhead Costs</h3>
          <ul>
            <li>Reduce/eliminate advertising costs though exposure on the GCES website</li>
            <li>Multiple engagements under a single consulting agreement reduces administrative costs and time</li>
            <li>GCES is consultants’ single source for time accounting, invoicing, payment and tax documents</li>
          </ul>
          <%= link_to 'Register as a Consultant', new_consultant_registration_path %>
          <%= link_to 'More information? Contact us &#187;', contact_us_path %>
        </div>  
      </div>
    </li>   
  </ul>
</div>
