<div class="row">
  <div class="medium-12 columns">
    <div id="welcome">
      <h1>Thank you for registering!</h1>
      <p>You've signed up to become a consultant in our network.</p>
      <p>This allows you to connect with government contractors needing skills that match your
        experience.</p>
      <p>You should be receiving an email shortly with a link to confirm your registration.</p>
      <p>Follow the link in the confirmation email to begin the process of creating your profile.</p>
    </div>
  </div>
</div>
