<li data-orbit-slide="contractor-benefits" class="slide-5 active">
  <div class="row">
    <h2 class="head">Unique GCES Features Enable Registered Government Contractors to&#8230;</h2>
    <div class="medium-6 columns">
      <h3>Acquire Qualified Consultant Support Quickly</h3>
      <ul>
        <li>Real-time access to ever-expanding nationwide database of consultants and mentors</li>
        <li>Extensive database search capabilities leading to quick, efficient selection of consultants</li>
        <li>Direct access to consultants for interviews, work requirements, and hourly rate negotiations</li>
        <li>Pre-negotiated master agreement enables consultants to start work immediately</li>
        <li>All consultants vetted for prior performance; self-certify for citizenship and 
          personal liability issues</li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <h3>Reduce Corporate Expense</h3>
      <ul>
        <li>Master Contract negotiated once with GCES</li>
        <li>Multiple consultant engagements managed via single contract</li>
        <li>Individual engagements managed via purchase orders</li>
        <li>GCES manages all consultant invoicing, payment &amp; tax processing</li>
        <li>GCES consultants incur no employee-related expenses</li>
        <li>Small fee based on consultant labor hours guarantees best-qualified consultants at affordable cost</li>
      </ul>
      <%= link_to 'Register as a Contractor', new_sales_lead_path %>
      <%= link_to 'More information? Contact us ›', contact_us_path %>
    </div>
  </div>
</li> 
