<li data-orbit-slide="contact-us" class="slide-8 active">
  <div class="row">
    <h2 class="head">Contact Us</h2>
    <p>For questions/comments about GCES business operations:<br><%= mail_to 'barrie.gillis@globalconsultantexchange.com', class: 'mail' do %> barrie.gillis@globalconsultantexchange.com <% end %></p>
    <p>For questions/comments about how GCES can help you:<br><%= mail_to 'paul.mears@globalconsultantexchange.com', class: 'mail' do %> paul.mears@globalconsultantexchange.com <% end %></p>
    <p>For questions about our website:<br><%= mail_to 'billy.mills@globalconsultantexchange.com', class: 'mail' do %> billy.mills@globalconsultantexchange.com <% end %></p>
  </div>
</li>   
