<div class="text-center">
  <div class="row">
    <h1>Global Consultant Exchange Services, LLC</h1>
    <p style="color: red;">Site under construction</p>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <ul class="left text-left no-bullet">
        <li>Stategists</li>
        <li>Capture Consultants</li>
        <li>Proposal Managers</li>
        <li>Volume Leads</li>
        <li>Graphics</li>
        <li>Production</li>
        <li>Coordination</li>
        <li>Proposal Writers</li>
      </ul>
    </div>
    <div class="small-6 columns">
      <img class="marketing-image" src="<%= asset_path('GSA.png') %>" />
      <img class="marketing-image" src="<%= asset_path('US.png') %>" />
    </div>
    <div class="small-3 columns">
      <ul class="right text-right no-bullet">
        <li>Agency Experts</li>
        <li>Price-to-win Analysts</li>
        <li>Program Managers</li>
        <li>Systems Engineers</li>
        <li>Business Developers</li>
        <li>Technical Leads</li>
        <li>Contracts Professionals</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <ul class="left text-left no-bullet">
        <li>Federal Contractors</li>
        <li>DoD  and Civilian</li>
        <li>Intelligence</li>
        <li>DOJ</li>
        <li>DOS</li>
        <li>Justice</li>
        <li>Veterans Administration</li>
        <li>Armed Services</li>
        <li>Agriculture</li>
        <li>Energy</li>
      </ul>
    </div>
    <div class="small-6 columns">
      <div class="text-center">
        <h5>Building on 16 years of success</h5>
        <h5>connecting proven</h5>
        <h5>business capture and proposal consultants</h5>
        <h5>with Government Contractors</h5>
        <h5><strong>winning</strong></h5>
        <h5><strong>State and Federal Government programs</strong></h5>
      </div>
    </div>
    <div class="small-3 columns">
      <ul class="right text-right no-bullet">
        <li>State and Local Contractors</li>
        <li>Nationwide</li>
        <li>Services</li>
        <li>Healthcare</li>
        <li>Systems</li>
        <li>Infrastructure</li>
        <li>Development</li>
        <li>Construction</li>
        <li>Maintenance</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <em>
        <ul class="left text-left no-bullet">
          <li>Companies</li>
          <li>Contact: Barrie Gillis</li>
          <li>
            <a href="mailto:barrie.gillis@globalconsultantexchange.com">
              Barrie.Gillis@GlobalConsultantExchange.com
            </a>
          </li>
        </ul>
      </em>
    </div>
    <div class="small-6 columns">
      <em>
        <ul class="right text-right no-bullet">
          <li>Consultants</li>
          <li>Contact: Paul Mears</li>
          <li>
            <a href="mailto:paul.mears@globalconsultantexchange.com">
              Paul.Mears@GlobalConsultantExchange.com
            </a>
          </li>
        </ul>
      </em>
    </div>
  </div>
</div>
