<div class="row action"
  <ul data-orbit class="home-orbit">
    <li data-orbit-slide="home" class="slide-1 active">
      <div class="row">
        <div class="medium-6 columns brown">
          <h2>GCES’ Consultants provide a full range of government business capture, proposal development and project start-up support to help Government Contractors win and execute business.</h2>
          <a data-orbit-link="home-consultants" class="learnmore">Learn More &#187;</a>
        </div>
        <div class="medium-6 columns blue">
          <h2>GCES’ Mentors provide corporate and military career experience to support corporate development and special projects.</h2>
          <a data-orbit-link="home-mentors" class="learnmore">Learn More &#187;</a>
        </div>  
      </div>
    </li>
     <li data-orbit-slide="home-mentors" class="slide-2">
      <div class="row">
        <div class="medium-6 columns">
          <h2>GCES’ qualified Mentors typically support one project/company at a time on an as needed basis to</h2> 
          <ul>
            <li>Teach, assist, coach</li>
            <li>Support turn-around and recovery, transformation, and special projects</li>
          </ul>
          <%= link_to 'Register as a Mentor »', new_consultant_registration_path, class: 'register' %>
        </div>
        <div class="medium-6 columns blue">
          <h2 class="blued">GCES’ Mentors provide corporate and military career experience to support corporate development and special projects.</h2>

          <a data-orbit-link="home" class="back">Back &#187;</a>
        </div>  
      </div>
    </li>    
    <li data-orbit-slide="home-consultants" class="slide-3">
      <div class="row">
        <div class="medium-6 columns brown">
          <h2 class="browned">GCES’ Consultants provide a full range of government business capture, proposal development and project start-up support to help Government Contractors win and execute business.</h2>
          <a data-orbit-link="home" class="back">Back &#187;</a>
        </div>
        <div class="medium-6 columns compact">
          <h2>Our registered consultants fill needs in</h2>
          <div class="row">
            <div class="medium-6 columns">
              <ul>
                <li>Business capture</li>
                <li>Proposal management, writing, editing, reviewing</li>
                <li>Subject matter expertise</li>
                <li>Program Planning, Architecture and Management Expertise</li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <ul>
                <li>Technical expertise</li>
                <li>Project staffing</li>
                <li>Military expertise</li>
                <li>Mentoring</li>
                <li>Business Architecture</li>
                <li>Project start-up</li>
              </ul>
              <p><small>GCES is an approved Government contractor</small></p>
            </div>            
          </div>
          <%= link_to 'Register as a Consultant »', new_consultant_registration_path, class: 'register' %>
        </div>  
      </div>
    </li>
  </ul>
</div>
