<li data-orbit-slide="how" class="slide-4">
  <div class="row">
    <h2 class="head">GCES uses a web-based business model to provide Contractors quick access to needed Consultant skills and to provide Consultants wide exposure to multiple Contractors.</h2>
    <%= image_tag('home-how.png', alt: 'how') %>
  </div>
</li> 
