.row
  .medium-12.columns
    #welcome
      %h1 Thank you for registering!
      %p You've signed up to become a General User in our network.
      %p You should be receiving an email shortly with a link to confirm your registration.
      %p Follow the link in the confirmation email to begin the process of creating your profile.
