          <h4>Offers 
            <span class="viewall"><%= link_to t('views.offer.actions.index'), projects_path %></span>
          </h4>
<% projects.each do |project| %>
    <div class="panel">
      <%= render project %>
    </div>
<% end %>
