<h4>Offers</h4>
<% projects.each do |project| %>
    <div class="panel">
      <div class="row">
        <div class="medium-12 columns">
          <%= render project %>
        </div>
      </div>
    </div>
<% end %>
