<hr>
<p>You will need to update the terms as the consultant did not agree. Please work with the
  consultant to make sure that the terms are agreeable to both parties.</p>
<%= link_to 'Edit', edit_project_path(@project), class: 'button' %>
