<h1>Engagement Offers</h1>

<div class="row">
  <div class="medium-8 columns vr">
    <h4>Inbox</h4>
    <%= render @projects %>
  </div>
  <div class="medium-4 columns">
    <%= render 'profiles/side_bar' if consultant_signed_in? %>
    <%= render 'shared/recent_consultants', consultants: @consultants if user_signed_in? %>
  </div>
</div>
