@font-face {
    font-family: 'glyphs';
    src: font-url('glyphs.eot');
    src: font-url('glyphs.eot') format('embedded-opentype'),
    font-url('glyphs.ttf') format('truetype'),
    font-url('glyphs.woff') format('woff'),
    font-url('glyphs.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}