$glyphs: (
    arrow-up: "\e906",
    arrow-right: "\e905",
    arrow-down: "\e903",
    arrow-left: "\e904",
    arrow-up-full: "\e956",
    arrow-right-full: "\e955",
    arrow-down-full: "\e953",
    arrow-left-full: "\e954",
    arrow-up-2: "\e096",
    arrow-right-2: "\e095",
    arrow-down-2: "\e097",
    arrow-left-2: "\e094",
    cr-arrow-up: "\e651",
    cr-arrow-right: "\e652",
    cr-arrow-down: "\e654",
    cr-arrow-left: "\e653",
    sq-arrow-up: "\e92c",
    sq-arrow-right: "\e92b",
    sq-arrow-down: "\e929",
    sq-arrow-left: "\e92a",
    tr-up: "\e95a",
    tr-right: "\e959",
    tr-down: "\e957",
    tr-left: "\e958",
    tr-up-2: "\e945",
    tr-right-2: "\e944",
    tr-down-2: "\e942",
    tr-left-2: "\e943",
    pointer-up: "\e969",
    pointer-right: "\e968",
    pointer-down: "\e966",
    pointer-left: "\e967",
    paper-clip: "\e001",
    toggle: "\e003",
    layout: "\e004",
    lock: "\e007",
    unlock: "\e008",
    lock-2: "\e95c",
    unlock-2: "\e95b",
    ribbon: "\e009",
    image: "\e010",
    clock: "\e014",
    watch: "\e015",
    air-play: "\e016",
    camera: "\e017",
    video: "\e018",
    cd: "\e019",
    printer: "\e020",
    monitor: "\e021",
    server: "\e022",
    align-justify: "\e026",
    align-left: "\e027",
    align-center: "\e028",
    align-right: "\e029",
    book: "\e030",
    book-2: "\e928",
    stack: "\e032",
    stack-2: "\e033",
    paper: "\e034",
    paper-stack: "\e035",
    search: "\e036",
    search-2: "\e925",
    zoom-in: "\e037",
    zoom-out: "\e038",
    reply-message: "\e61d",
    forward-message: "\e61e",
    redo: "\e61f",
    undo: "\e620",
    reply-2: "\e039",
    reply-3: "\e974",
    reply-all: "\e973",
    cr: "\e049",
    cr-plus: "\e040",
    cr-minus: "\e041",
    cr-check: "\e042",
    cr-cross: "\e043",
    cr-plus-2: "\e902",
    cr-minus-2: "\e901",
    cr-cross-2: "\e900",
    cr-checkmark: "\e90c",
    cr-checkmark-full: "\e90d",
    cr-add: "\e916",
    cr-add-full: "\e914",
    cr-remove: "\e911",
    cr-remove-full: "\e90f",
    cr-play: "\e912",
    cr-play-full: "\e913",
    sq-plus: "\e044",
    sq-minus: "\e045",
    sq-check: "\e046",
    sq-cross: "\e047",
    sq-add: "\e931",
    sq-remove: "\e930",
    microphone: "\e048",
    skip-back: "\e050",
    skip-forward: "\e056",
    rewind: "\e051",
    forward: "\e055",
    play: "\e052",
    pause: "\e053",
    stop: "\e054",
    shuffle: "\e057",
    repeat: "\e058",
    umbrella: "\e060",
    moon: "\e061",
    thermometer: "\e062",
    drop: "\e063",
    sun: "\e064",
    cloud: "\e065",
    cloud-upload: "\e066",
    cloud-download: "\e067",
    cloud-upload-2: "\e963",
    cloud-download-2: "\e962",
    upload: "\e068",
    download: "\e069",
    upload-2: "\e936",
    download-2: "\e91a",
    location: "\e070",
    location-2: "\e071",
    location-3: "\e921",
    map: "\e072",
    battery: "\e073",
    speech: "\e076",
    globe: "\e078",
    reload: "\e080",
    share: "\e081",
    marquee: "\e082",
    marquee-plus: "\e083",
    marquee-minus: "\e084",
    tag: "\e085",
    volume: "\e098",
    mute: "\e099",
    content-right: "\e100",
    content-left: "\e101",
    grid: "\e102",
    grid-2: "\e103",
    columns: "\e104",
    flag: "\e108",
    expand: "\e110",
    contract: "\e111",
    maximize: "\e112",
    minimize: "\e113",
    plus: "\e114",
    check: "\e116",
    check-2: "\e644",
    cross: "\e117",
    cross-2: "\e643",
    move: "\e118",
    delete: "\e119",
    menu: "\e120",
    menu-bars: "\e120",
    menu-2: "\e608",
    menu-3: "\e923",
    menu-drop: "\e949",
    menu-circles: "\e95f",
    archive: "\e121",
    outbox: "\e123",
    open: "\e128",
    file: "\e124",
    file-add: "\e125",
    file-substract: "\e126",
    mobile: "\e971",
    tablet: "\e331",
    tablet-android: "\e330",
    heart: "\e60c",
    heart-full: "\e60d",
    star: "\e60e",
    star-full: "\e60f",
    trashbin: "\e616",
    trashbin-full: "\e617",
    email: "\e91c",
    email-full: "\e91d",
    email-2: "\e60a",
    link: "\e618",
    thumb-up: "\e8dc",
    thumb-down: "\e8db",
    dashboard: "\e919",
    edit: "\e91b",
    trash: "\e91f",
    message: "\e924",
    settings: "\e926",
    settings-2: "\e927",
    emoji-happy: "\e932",
    emoji-neutral: "\e933",
    emoji-sad: "\e934",
    windows: "\e935",
    world: "\e93a",
    tv: "\e93c",
    tv-2: "\e94c",
    laptop: "\e948",
    user: "\e937",
    user-2: "\e951",
    user-business: "\e952",
    folder: "\e93f",
    folder-2: "\e059",
    folder-image: "\e938",
    folder-video: "\e93e",
    graduation: "\e941",
    education: "\e941",
    bell: "\e947",
    bell-full: "\e946",
    bell-2: "\e96bv",
    login: "\e94a",
    logout: "\e94b",
    help: "\e94d",
    help-full: "\e94f",
    help-2: "\e94d",
    briefcase: "\e950",
    pin: "\e95e",
    building: "\e961",
    warning: "\e96c",
    warning-full: "\e96e",
    warning-2: "\e96d",
    document: "\e96f",
    document-full: "\e970",
    quote: "\e972",
    rocket: "\e976",
    evernote: "\e977",
    hangouts: "\e978",
    hangouts-2: "\ea8e",
    skype: "\e97a",
    skype-cr: "\e979",
    vine: "\e97c",
    vine-cr: "\e97b",
    yelp: "\e97d",
    flickr: "\e981",
    flickr-cr: "\e980",
    instagram: "\e983",
    instagram-cr: "\e982",
    facebook: "\ea90",
    facebook-cr: "\e97e",
    facebook-sq: "\e97f",
    linkedin: "\e985",
    linkedin-cr: "\e984",
    pinterest: "\e987",
    pinterest-cr: "\e986",
    twitter: "\e98b",
    twitter-cr: "\e98a",
    vimeo: "\e98d",
    vimeo-cr: "\e98c",
    youtube: "\e98f",
    youtube-cr: "\e98e",
    google: "\ea88",
    google-cr: "\ea8a",
    google-plus: "\ea8b",
    google-plus-cr: "\ea8d",
    rss: "\ea8d",
    telegram: "\ea9b",
    telegram-sq: "\ea9c",
    behance: "\eaa8",
    behance-sq: "\eaa9",
    reddit: "\eac6",
    twitch: "\ea9f",
    dribbble: "\eaa7",
    amazon: "\ea87",
    quill: "\e990",
    key: "\e96a"
);

@each $name, $glyph in $glyphs {
  .icon-#{$name}:before {
    content: $glyph;
  }
}

*[class*="icon-"] {
    font-weight: normal;
}