.ui-box {
    @extend %ui-box;
    
    &.gray {
        background: color(gray-lightest);
    }
    
    &.air {
        box-shadow: inset 0 0 0 1px color(gray-lighter);
        margin-top: 2rem;
        
        h2,
        h3 {
            font-size: 1.15rem;
            font-weight: 600;
            margin-bottom: 0.75rem;
        }
        
        .grid {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid color(gray-lighter);
            position: relative;
            min-height: rem(60px);
            
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

.ui-block {
    padding: 1.5rem;
    
    position: relative;
    
    
    &[class*="icon-"] {
        padding-left: 2rem;
        
        &:before {
            color: color(primary);
            position: absolute;
            top: 0.15rem;
            left: 0;
        }
    }
    

    header {
        margin-top: 0 ;
        padding-top: 0;
    }
    
    .accordion-panel {
        margin-top: 1.25rem;
        padding-bottom: 0.5rem;
        position: relative;
    }
    
    &.list {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid color(gray-lightest);
        
        &:first-of-type {
            border-top: 1px solid color(gray-lightest);
        }
        
        &[class*="icon-"] {
            &:before {
                top: 0.85rem;
            }
        }
        
        header {
            & > h2 {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 0;
            }
            
            p {
                margin-top: 0.25rem;
            }

            .accordion-toggle {
                &:before {
                    color: color(gray-lighter);
                    font-size: 1.75rem;
                }

                &:hover {
                    &:before {
                        color: color(primary);
                        transition: color 0.1s ease-out;
                    }
                }
            }
        }
        
        .action {
            position: absolute;
            bottom: 1rem;
            right: 0;
        }
    }
}

.ui-card {
    @extend %ui-box;
    @extend %clearfix;
    padding: 2rem 3rem;
    position: relative;
    
    &[class*="icon-"] {
        padding-top: 5rem;
        margin-top: 5rem;
        
        &:before {
            display: block;
            width: 7rem;
            height: 7rem;
            font-size: 4.25rem;
            line-height: 7rem;
            border-radius: 100%;
            background: color(primary);
            color: #FFF;
            text-align: center;
            position: absolute;
            top: -3rem;
            left: 50%;
            text-indent: 0.25rem;
            margin-left: -3.5rem;
        }
    }
    
    header {
        text-align: center;
            
        & > h1,
        & > h2 {
            color: color(body-dark);
            font-size: 1.75rem;
            line-height: 1.15em;
        }

        h3 {
            @extend %type-ui-navtab;
            color: color(primary);
            font-size: 1rem;
        }
        
        & + fieldset,
        & + .card-section,
        & + .section-block,
        & + .content-block {
            margin-top: 2rem;
        }
        
        .instructions,
        .descriptions {
            margin: 1rem 0 2.5rem 0;
        }
    }
    
    .label {
        color: color(primary);
    }
    
    .content-block,
    .section-block {
        padding: 2rem 0;
        
        & > h3 {
            text-align: center;
            margin-bottom: 4rem;
        }
    }
    
    .card-section {
        padding-bottom: 0.75rem;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid color(bg-secondary);
        position: relative;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        & > h1 {
            font-size: 1.75rem;
            font-weight: normal;
            margin-bottom: 1rem;
        }
        
        & > h2 {
            font-size: 1.5rem;
            text-align: left;
            font-weight: normal;
            
            &.label {
                color: color(primary);
                font-size: 1.15rem;
                
                & + p {
                    font-size: 1.75rem;
                    line-height: 0.9em;
                    font-weight: 300;
                }
            }
        }
        
        p {
            margin-top: 0.5rem;
            
            & + & {
                margin-top: 0.5rem;
            }
        }
        
        
        button {
            margin-top: 0.5rem;
        }
        
        &.top-rule {
            border-top: 2px solid color(bg-secondary);
            padding-top: 0.75rem;
        }
        
        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
        
        .button-circle {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -1.5rem;
        }
    }
    
    &.contact,
    &.profile {
        padding-top: 8rem;
        
        header {
            margin-bottom: 3rem;
            
            & > h1,
            & > h2 {
                font-size: 2.25rem;
            }
        }
    }
    
    & + & {
        margin-top: 1rem;
    }
    
    & + &[class*="is-close"],
    & + &[class*="is-collapsing"],
    & + button {
        margin-top: 1rem;
    }
    
    & + &[class*="icon-"] {
        margin-top: 6rem;
    }
    
    & + &[class*="icon-"][class*="is-close"] {
        margin-top: 1rem;
    }
    
    &.is-collapsible {
        .card-toggle {
            @include icon($icon: glyph(cr-minus-full), $icon-size: 2rem);
            position: absolute;
            width: 100%;
            height: 5rem;
            top: 0;
            right: 0;
            z-index: 2;
            
            &:before {
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                position: absolute;
                top: 50%;
                right: 1rem;
                left: auto;
                margin-top: -1rem;
                color: color(secondary);
            }
        }        
    }
    
    &.is-close {
        cursor: pointer;
        padding: 2rem 4rem 2rem 2rem;
        
        &[class*="icon-"] {
            padding-left: 6rem;

            &:before {
                display: block;
                width: 3rem;
                height: 3rem;
                font-size: 2rem;
                line-height: 3rem;
                background: color(primary-lighter);
                top: 50%;
                left: 1rem;
                margin-left: 0;
                margin-top: -1.5rem;
            }
        }
        
        header {
            margin-bottom: 0;

            & > h1,
            & > h2 {
                display: inline-block;
                width: auto;
                font-size: 1.5rem;
                float: left;
                text-align: left;
            }

            h3 {
                display: none;
            }

            p {
                display: none;

                &.user-roles {
                    display: inline-block;
                    text-align: right;
                    float: right;
                    margin: 0;
                }
            }
        }
        
        &.contact,
        &.profile {
            text-align: left;
        }
        
        .user-permissions,
        .card-section,
        fieldset {
            display: none;
        }
        
        &.is-collapsible {
            .card-toggle {
                
                &:before {
                    content: glyph(cr-plus-full);
                    color: color(primary-lighter);
                }
            }
            
            &:hover {
                .card-toggle {
                    &:before {
                        color: color(secondary);
                        transition: color 0.15s ease-out;
                    }
                }
            }
        }
        
        .button-primary {
            display: none;
        }
        
        &:hover {
            &[class*="icon-"] {

                &:before {
                    background: color(primary);
                    transition: background 0.15s ease-out;
                }
            }
        }
    }
    
    @include responsive($media: 'tablet-portrait') {
        padding: 2rem;
        
        .contact-email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    @include responsive($max-width: '600px') {
        padding: 2rem 1.5rem;
        
        p:not([class*="description"],[class*="instructions"]),
        h1,
        h2,
        h3,
        ul li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .content-block,
        .section-block {
            padding: 1rem 0;

            & > h3 {
                margin-bottom: 3rem;
            }
        }

        .card-section {
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &.contact:not([class*="is-close"]),
        &.profile:not([class*="is-close"]) {

            header {
                margin-bottom: 0;

                & > h1,
                & > h2 {
                    font-size: 2rem;
                }
            }
        }
        
        &.is-close {
            cursor: pointer;
            padding: 1.5rem 4rem 1.5rem 1.5rem;

            &[class*="icon-"] {
                padding-left: 4rem;

                &:before {
                    display: block;
                    width: 2.25rem;
                    height: 2.25rem;
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                    margin-top: -1.125rem;
                }
            }

            header {
                & > h1,
                & > h2 {
                    font-size: 1.35rem;
                    white-space: normal;
                    overflow: visible;
                    text-overflow: clip;
                    
                }
            }
        }
    }
}