*[class*="ui-marker"] {
    display: block;
    width: size(marker);
    height: size(marker);
    border-radius: 100%;
    
    &.ui-marker-alert {
        background: color(alert-error);
    }

    &.ui-marker-live {
        background: color(alert-success);
    }

    &.ui-marker-warning {
        background: color(alert-warning);
    }

    &.ui-marker-information,
    &.unread {
        background: color(alert-information);
    }
}

