@import "shared/variables";
@import "sections/profileviews";

.remaining-positions {
  display: none;
}

#consultants td li {
  white-space: nowrap;
}

img {
  &.th {
    margin: 10px 0 0 1px;
  }
}
/*** ADMIN ***/
.row {

&.admin {
  background: whitesmoke;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid $gainsboro;
  margin: 0 0 2rem;
  p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    }
  .button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

}
