<%= render 'layouts/header' %>

<header class="page-header">
  <h2>User Login</h2>
</header>
<div class="page-content">
  <%= render "devise/sessions/form" %>
  <%= render "devise/shared/links" %>
</div>
<% content_for :footer do %>
    <%= render 'layouts/footer' %>
<% end %>