<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <div class="row">
      <div class="small-8 small-centered columns">
        <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
      </div>
    </div>
  <%- end -%>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="small-8 small-centered columns">
        <%%= f.button :submit %>
      </div>
    </div>
  </div>
<%% end %>
