<div class="row">
  <div class="columns medium-12">
    <% if  @consultants.empty? %>
    <p><b><em>Sorry, there are no results that match that criteria. Please refine your search below</em></b></p>
    <hr>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-5 medium-5 columns">
    <h4>Refine Search</h4>
    <%= render 'searches/form' %>
  </div>
  <div class="large-7 medium-7 columns">
    <% unless @consultants.empty? %>
        <% @consultants.each do |consultant| %>
            <%= render 'searches/consultant', consultant: consultant %>
        <% end %>
        <%= paginate @consultants %>
    <% end %>
  </div>
</div>

