@import "variables";

/*** HEADER ***/

body > .sticky {
  border-bottom: 3px solid $gces-blue;
}
.top-bar-section .dropdown li:not(.has-form) > a {
  font-size: rem-calc(13);
}
.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
  background: scale-color(#dde6e9, $lightness: 20%)!important;
}
.top-bar-section .has-dropdown.hover > .dropdown, 
.top-bar-section .has-dropdown.not-click:hover > .dropdown {
  width: 160px!important;
}
.top-bar-section .has-dropdown.hover > .dropdown li:hover a, 
.top-bar-section .has-dropdown.not-click:hover > .dropdown li:hover a {
  background: none!important;
}
.top-bar {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);

  .row {
    height: 50px;

    form {
      height: 40px;
      @media #{$medium-up} {
        width: 160px;
        margin-top: 25px;
      }
      @media #{$screen} and (min-width:#{lower-bound(50em)}) {
        width: 250px;
      }      
      @media #{$large-up} {
        width: 340px;
        margin-top: 20px;
      }
    }
  }

  #logo {
    background: image-url("gces-logo-header.png") left 50% no-repeat;
    height: 110px;
    width: 320px;
    margin-left: 20px;
    @media #{$small-only} {
      background-size: 50%;
    }
    @media #{$medium-only} {
      background-size: 100%;
      width: 200px;
    }
  }
  .top-bar-section {
    ul {
      @media #{$medium-up} {    
        &.right {
          padding-right: 3rem;
        }
        &.dropdown {
          left: -50%!important;
          right: -50%!important;
          background: #dde6e9;
          width: 160px;

          li {
            width: auto!important;
            &.divider {
            }
            &:hover {
              background: none!important;
              a {
                background: none!important;
              }
            }            
            &.parent-link + li a {
              padding-top: 20px;
            }   
            &:last-child a {
              padding-bottom: 20px;
            }                     
            a {
              line-height: 1.5!important;
              white-space: normal;
              display: block;
              padding: 7px 20px;
              width: 160px;

            }
          }
        }  
      }
      li {
        a {
          @media #{$medium-only} { 
            font-size: rem-calc(12);
          }
          @media #{$large-only} { 
            font-size: rem-calc(14);
          }          
        }
        &:not(.has-form) {
          a {
            &:not(.button) {
              @media #{$medium-up} {
                line-height: 110px;
              }
              @media #{$medium-only} {
                padding: 0 10px!important;
              }
            }
          }
        }
      }
    }
    .button, input {
      top: 0;

      @media #{$medium-up} {
        height: 30px;
        line-height: 15px;
        font-size: 11px!important;
      }
      @media #{$large-up} {
        height: 40px;
        line-height: 15px;
        font-size: 13px;
      }      

    }
    .button {
      font-size: 13px;
      border-radius: 2px;
      @media #{$medium-up} {
        padding: 0 10px;
      }      
      @media #{$large-up} {
        padding: 0 1rem;
      }        
    }
    .has-form {
      padding: 15px;
      .columns {
        padding: 0 0.2rem;
      }
      input[type="text"] {
        width: 400px;
        max-width: 100%;
        border-radius: 2px;
      }
    }
  }
}
