/*** HEADER ***/

.top-bar {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);

  #logo {
    background: image-url("gces-logo-white.png") 0 50% no-repeat;
    height: 90px;
    width: 280px;
    margin-left: 15px;
  }
  .top-bar-section {
    ul.dropdown {
      li {
        &.divider {
        }
        a {
          line-height: 45px;
        }
      }
    }
    .button, input {
      height: 30px;
      line-height: 15px;
      top: 0;
    }
    .button {
      font-size: 13px;
      padding: 0 1rem;
      border-radius: 2px;
    }
    .has-form {
      padding: 15px;
      .columns {
        padding: 0 0.2rem;
      }
      input[type="text"] {
        width: 400px;
        max-width: 100%;
        border-radius: 2px;
      }
    }
  }
}
