@import "variables";

/*** HEADER ***/

body > .sticky {
  border-bottom: 3px solid $gces-blue;
}
.top-bar-section .dropdown li:not(.has-form) > a {
  font-size: rem-calc(13);
}
.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
  background: scale-color(#dde6e9, $lightness: 20%)!important;
}
.top-bar {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);

  #logo {
    background: image-url("gces-logo-header.png") 50% 50% no-repeat;
    height: 90px;
    width: 280px;
    margin-left: 15px;
  }
  .top-bar-section {
    @media #{$medium-up} {
      .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 110px!important;
      }
    }

    ul {
      &.right {
        padding-right: 3rem;
      }
      &.dropdown {
        li {
          &.divider {
          }
          a {
            line-height: 45px;
          }
        }
      }  
    }
    .button, input {
      height: 30px;
      line-height: 15px;
      top: 0;
    }
    .button {
      font-size: 13px;
      padding: 0 1rem;
      border-radius: 2px;
    }
    .has-form {
      padding: 15px;
      .columns {
        padding: 0 0.2rem;
      }
      input[type="text"] {
        width: 400px;
        max-width: 100%;
        border-radius: 2px;
      }
    }
  }
}
