/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */

/*
*= require_self
*= require select2
*= require select2-bootstrap
*= require shared/common
*= require shared/_top-bar
*= require shared/_side_column
*= require dataTables/jquery.dataTables.foundation
*/
@import 'foundation-icons';
@import 'sections/skills_table';
.row .message-inbox .row {
  padding: 15px 0;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #ddd;
}
.message-inbox {
  border: 1px solid #ddd;
  background: #fff;
  border-top-width: 0;
}
.message-inbox .read {
  background: #eee;
}
ul.nav-tabs {
  border-bottom: 1px solid #ddd;
}
ul.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav.nav-tabs li {
  background: none;
  border: none;
  margin-left: 0;
  float: left;
  margin-bottom: -1px !important;
  text-indent: 0;
}
.nav.nav-tabs li a {
  color: #000;
  padding: 10px 20px 10px 25px;
  margin-right: 2px;
  line-height: 1.42857143;
  float: left;
}
.nav.nav-tabs li.active {
  border: 1px solid #ddd;
  border-bottom-width: 0;
  background: #eee;
}
.nav:before, .nav:after, .navbar:before, .navbar:after {
  display: table;
  content: " ";
  clear: both;
}

.row ul.nav > li::before {
  content: none;

}
