@import "variables";

.datetimepicker {
  .prev, .next {font-style:normal;}
  .prev:after {content:"«";}
  .next:after {content:"»";}
}

/*** HEADER ***/

.top-bar {
	.button, input {
		height: 30px;
		line-height: 15px;
		top: 0;
	}
	.button {
		font-size: 13px;
		padding: 0 1rem;
	}
	.has-form {
		padding: 7px 15px;
		.columns {
			padding: 0 0.2rem;
		}
		input[type="text"] {
			width: 400px;
			max-width: 100%;
		}
	}
}

/*** GLOBAL ***/

.hint {
	margin: -10px auto 10px auto;
  opacity: 0;
  font-size: 13px;
}
#container {
	background: $white;
	max-width: 95%;
	width: 1040px;
	padding-top: 2rem;
	margin: 0 auto;
	box-shadow: 0 0 30px rgba(193,205,201,1);
}

/*** BUTTON ***/

.button, input[type="submit"] {
	border-radius: 2px;
}

/*** TYPOGRAPHY ***/

h3 {
	color: $gces-red;
	border-bottom: 1px solid #DDD;
	font-weight: 200;
}
/*** ALERTS ***/

.error label, .error label.error {
	color: $gces-red;
}

.error small.error, .alert-box.alert {
	color: $gces-red;
	border: 1px solid $gces-red;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.error small.error {

}
.alert-box.alert {
	margin: 0 auto rem-calc(20);
	width: 98%;
}
.alert-box.notice {
	background: scale-color($gces-blue, $lightness: 80%);
	color: $gces-blue;
}
.alert-box.success {
	background-color: #abc1b2;
	border-color: #5d7b67;
	color: #5d7b67;
}


/*** FORMS ***/

#container {
	form {
		&.simple_form {
			input[type="submit"] {
				float: right;
			}
			span.optional {
				display: none;
			}
		}
	}
}

.select2-container {
	margin: 0 0 1rem 0;
	font-size: 14px;

	.select2-choice {
		height: 2.3125rem;
		line-height: 2.3125rem;
		border-color: #CCC;
		background: $snow;
		border-radius: 2px;

		.select2-arrow {
			border-left: none;
			background: none;
			b {
				background-position: 0 6px;
			}
		}
	}
}
.select2-container-multi {
	.select2-choices {
		border: 1px solid #CCC;
		border-radius: 2px;
		background: $white;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

		.select2-search-choice {
			font-size: 14px;
			line-height: 1.2em;
			background: #F9F9F9;
		}
	}
	&.select2-container-active {
		.select2-choices {
			border: 1px solid $gces-blue;
		}
	}
}
.select2-container-active {
	.select2-choice {
		border-color: $gces-blue;
	}
}
.select2-drop-active {
	border-color: $gces-blue;
}
.select2-dropdown-open.select2-drop-above {
	background: $white;

.select2-drop.select2-drop-above.select2-drop-active, .select2-dropdown-open.select2-drop-above .select2-choice {
	border-color: $gces-blue;
		background: $white;
	}
}
.select2-results {
	font-size: 14px;
	line-height: 1.3em;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border-radius: 2px;
	&:focus {
		border-color: $gces-blue;
	}
}
input, textarea {
	&.required {
		background: #fffedc;
	}
}
span.optional {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	margin-left: 5px;
}

/*** IMAGES ***/

.profile-thumb {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
}

/*** LOGIN ***/
.new_consultant, .new_user {
	span.optional {
		display: none;
	}
}

/*** SEARCH ***/

.row.consultant-profile {
  border-bottom: 3px solid #EFEFEF;
  margin-bottom: 2rem;
  h5 {
    margin: 0;
  }
  p {
    font-size: 13px;
  }
  a {
    display: block;
  }
}

