@import "variables";

.datetimepicker {
  .prev, .next {font-style:normal;}
  .prev:after {content:"«";}
  .next:after {content:"»";}
}

/*** GLOBAL ***/
body {
  &.learn_more, &.home {
    background: none;
  }
}
hr {
  margin: 2rem 0;
}
.hint {
	margin: -10px 0 10px 0;
	font-size: rem-calc(14);
  color: $monsoon;
  font-style: italic;
}
@media #{$large-up} {
  .container {
    min-height: 0px;
  }
}
.container {
  padding: 2rem 0 0;
  background: #FFF;
  width: 1100px;
  margin: 0 auto;
  min-height: 800px;
  box-shadow: 0 0 20px scale-color($gces-green, $lightness: -50%);

  @media #{$small-only} {
    max-width: 90%;
    padding: 2rem 30px 0
  }
}

.home, .learn_more {
  .container {
    background: none;
    width: 100%;
    margin: 0;
    min-height: 0px;
    box-shadow: none;
    max-width: 100%;
  }
}

.underline {
  text-decoration: underline;
}

/*** BUTTON ***/

.button, input[type="submit"] {
  border-radius: $global-radius;
}

input[type="submit"] {
  clear: both;
}

/*** HEADER ***/

.title-area {
	img {
		vertical-align: middle;
	}
}

/*** TYPOGRAPHY ***/

.row {
  h1, h2, h3, h4, h6 {
    font-weight: 200;
  }
  h2 {
    color: $gces-red;
    line-height: 2.75rem;
  }
  h1 + h3 {
    border-bottom: none;
  }
  + h4 {
    margin-top: 1.5rem;
  }
  ul {
    list-style: none;
    margin: 0;

    &.list {
      li {
      margin-left: 0;
      text-indent: 0;
      margin-bottom: 0.75rem;
        &:before {
        content: none;
        }
      }
    }

    > li {
      text-indent: -0.65rem;
      margin-left: 0.65rem;
      line-height: 1.1rem;
      margin-bottom: 0.2rem;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '•';
        color: $gces-blue;
        margin-right: 5px;
      }
    }
  }
}

strong {
  font-weight: 600;
}

h3 {
  color: $gces-red;
  border-bottom: 1px solid #DDD;
  font-weight: 200;
  margin: 1rem 0 0.25rem;
}

ol {

  >li {
    margin-top: 1rem;
    line-height: 1.45rem;
  }
  ol {
    list-style-type: upper-roman;
    margin-top: 0.5rem;
    >li {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
}
small {
  font-style: italic;
  color: $monsoon;
  &.red {
    color: scale-color($gces-red, $lightness: -10%);
  }
}

@media #{$medium-up} {
  .vr {
    min-height: 200px;
    border-right: 2px solid $smoke;
  }
}

/*** ASIDES ***/
aside {
  background: scale-color($gces-green, $lightness: 80%);
  padding: 1.25rem;
  border-radius: $global-radius;
  border: 1px solid scale-color($gces-green, $lightness: 70%);
  h5, p {
    line-height: 1.4rem;
  }
  h5 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;

  }
  p {
    font-size: 0.85rem;
    margin-bottom: 0;
    line-height: 1.35rem;
  }
  ol {
    font-size: 0.85rem;
    li {
      padding-left: 0;
    }
  }
}

/*** ALERTS ***/

.error label, .error label.error {
  color: $gces-red;
}
.error small.error, .alert-box.alert {
  color: $gces-red;
  border: 1px solid $gces-red;
  border-radius: $global-radius;
}
.alert-box.alert {
  margin: 0 auto rem-calc(20);
  width: 98%;
}
.alert-box.notice {
  background: scale-color($gces-blue, $lightness: 80%);
  color: $gces-blue;
}
.alert-box.success {
  background-color: #abc1b2;
  border-color: #5d7b67;
  color: #5d7b67;
}

/*** FORMS ***/

.select, .select2 {
  ul {
  margin: 0;
    li {
      text-indent: 0;

      &:before {
        content: none;
      }
    }
  }
}

.select {
  small.error {
    margin-top: -1.01rem!important;
  }
}

.required {
  .select2-container {
    .select2-choice {
      background-image: image-url("required.png");
      background-position: calc(100% - 15px) 50%;
      background-repeat: no-repeat;
    }
  }
}

.select2-container {
  margin: 0 0 1rem 0;
  font-size: 14px;
  .select2-choice {
    height: 2.3125rem;
    line-height: 2.3125rem;
    border-color: #CCC;
    background: $snow;
    border-radius: $global-radius;
    .select2-arrow {
      border-left: none;
      background: none;
      b {
        background-position: 0 6px;
      }
    }
  }
}
.select2-container-multi {
  .select2-choices {
    border: 1px solid #CCC;
    border-radius: $global-radius;
    background: $white;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0!important;
    .select2-search-field {
      input {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    }
    .select2-search-choice {
      font-size: 14px;
      line-height: 1.2em;
      background: #F9F9F9;
    }
  }
  &.select2-container-active {
    .select2-choices {
      border: 1px solid $gces-blue;
    }
  }
}
.select2-container-active {
  .select2-choice {
    border-color: $gces-blue;
  }
}
.select2-drop-active {
  border-color: $gces-blue;
}
.select2-dropdown-open.select2-drop-above {
  background: $white;
  .select2-drop.select2-drop-above.select2-drop-active,
  .select2-dropdown-open.select2-drop-above .select2-choice {
    border-color: $gces-blue;
      background: $white;
  }
}
.select2-results {
  font-size: 14px;
  line-height: 1.3em;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {

  &:focus {
    border-color: $gces-blue;
  }
  &.required {
    background: #FFF image-url("required.png") right 50% no-repeat;
    padding-right: 25px;
    &:focus {
      background: #FFF image-url("required.png") right 50% no-repeat;
      padding-right: 25px;
    }
  }
}
textarea {
  height: auto;
}
label.required {
  font-weight: 600;
}

.maxlength {
  margin: -10px 0 10px 0;
  float: right;
  font-size: rem-calc(13);
  color: $gces-red;
}

/*** IMAGES ***/

.profile-thumb {
  max-height: 80px;
  max-width: 80px;
  background-repeat: no-repeat;
}

.profile-thumb-mini {
  max-height: 40px;
  max-width: 40px;
  background-repeat: no-repeat;
}

.profile-medium {
  max-width: 100%;
  width: 200px;
  height: auto;
}

/*** LOGIN ***/
.new_consultant, .new_user {
	span.optional {
		display: none;
	}
}

/*** SEARCH ***/

.row.consultant-profile {
  border-bottom: 3px solid #EFEFEF;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  h5 {
    margin: 0;
  }
  p {
    font-size: 13px;
    margin-bottom: 0;
    word-wrap: break-word;
  }
  a {
    display: block;
    font-size: 13px;
  }
  h5 {
  	a {
  		font-size: 1.125rem;
  	}
  }
}

/*** TABLES ***/
table {
  width: 100%;
  th, td {
    &.manage {
      text-align: center;
      width: 150px;
    }
  }
}
/*** PAGINATION ***/
ul.pagination {
  li {
  text-indent: 0;
  margin: 0;
    &:before {
      content: none;
    }
  }
}

/*** WIZARD ***/
.wizard {
  .row {
    margin: 0;
    .columns {
      padding-right: 0;
      > p {
        line-height: 5rem;
        margin-bottom: 0;
      }
    }
  }
  ol {
    li {
      padding-left: 5px;
      line-height: 1.4rem;
      ul {
        margin-top: 5px;
        li {
          line-height: 1.4rem;
        }
      }
    }
  }
  ul {
    margin-bottom: 2rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
  p {
    &.li {
      margin-bottom: 5px;
      + ol li:first-child {
        margin-top: 0;
      }
    }
  }
  .steps {
  background: $white-smoke;
  border: 1px solid $monsoon;
  border-radius: $global-radius;
  margin: 1rem 0 1.5rem;
  padding: 0.5rem 0.75rem 0.25rem;
  text-align: center;
    h4, p {
      text-align: center;
    }

    img {
      margin: 0 auto;
      text-align: center;
    }
  }
}

/*** PROGRESS ***/

@media #{$small-up} {
  #progress {
    display: none;
  }
  .benefit .row {
    padding: 1rem 0;
  }
}
@media #{$medium-up} {
  .benefit .row {
    padding: 3rem 0;
  }
}
@media #{$large-up} {
  #progress {
    display: block;
  }
}
.wizard {
  #progress {
    top: 60px!important;
    min-width: 1000px!important;
    border-bottom: 1px solid $smoke;
    margin-bottom: 1rem;
    ul {
      margin: 0;

      li {
        text-indent: 0;
        margin-left: 0;
        float: left;
        margin-right: 10px;

        &.active {
          a {
            background: $gces-blue;
            color: $white;
          }
        }

        &:before {
          content: none;
        }

        a {
          margin: 0;
        }
      }
    }
  }
}

/*** FOOTER ***/
footer {
  background: $aluminum;
  padding: 1rem 0;
  box-shadow: inset 0 0 rem-calc(20) $monsoon;

  .row {

    p {
      font-size: rem-calc(13);
      color: $white;
      a {
        margin-left: rem-calc(5);
        color: $smoke;
        text-decoration: underline;
        &:hover {
          color: $iron;
        }
      }
    }
  }
  @media #{$small-only} {
    .row {
      padding: 0 rem-calc(40);
    }
  }
}
