@import "variables";

/*** WIZARD ***/

.button, input[type="submit"] {
  border-radius: $global-radius;
}
#bgquestions {
  label {
    font-weight: 600;
  }
  .radio {
    label {
      font-weight: 400;
    }
  }
  .boolean {
    input[type="checkbox"] + label {
        display: block;
        margin-left: 20px;
    }
    input {
        float: left;
        margin-top: 5px;
    }
  }
  .input.radio_buttons {
    border-bottom: 1px solid $smoke;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
  }
}

.row.wizardnav {
  margin-top: 2rem;
}
.error label, .error label.error {
  color: $gces-red;
}
.wizard {
  aside {
    margin-bottom: 1rem;
  }
  h2 {
    + h3 {
      border-bottom: 0;
      margin-bottom: 2rem;
    }    
  }
  ol {
    margin-bottom: 0.25rem;
    li {
      margin-top: 0;
    }
  }
  p {
    &.nosp {
      margin-bottom: 5px;
    }
    &.contract {
      margin-bottom: 5px;
      text-align: center;
    }
  }
  blockquote {
    margin-left: 1.75rem;
    padding-left: 0;
    border: 0;
    color: $jet;
    ul {
      margin-bottom: 1rem;
    }
    p {
      color: $jet;
    }
  }
  @media #{$large-only} {
  min-height: 600px;
  }

  input[type="file"] {
    margin-bottom: 0.25rem;
  }
  small {
    font-style: italic;
    color: $monsoon;
    &.red {
      color: scale-color($gces-red, $lightness: -10%);
    }
  }
  .links {
    .button {
      margin: 0;
    }
  }
  .button {
  margin: 2rem 0;

    &.right {
      @media #{$small-only} {
        margin: 0 auto 10px;
        float: none!important;
        display: block;
        clear: both;
      }
      float: right; 
      margin-left: 20px;
      margin-top: 20px;

    }
  }
  .columns {
    .button {
      &.tiny {
      margin-top: 1.55rem;
      }
    }
  }
}

/*** ATTACHMENT ***/
.attachment {
  background: $white-smoke;
  border: 1px solid $smoke;
  padding: 1rem;
  margin: 1rem 0;
}

/*** BREADCRUMBS ***/
.row {
  .breadcrumbs {
    margin-bottom: 2rem;
    li {
      letter-spacing: 0.5px;
      line-height: 1rem;
      &.current {
        font-weight: 600;
      }
      @media #{$small-only} {
          display: block;
          width: 100%;
      }
      &:before {
        content: '\f10b';
        font-family: "foundation-icons";
        color: $base;
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
    }
    > *:before {
      
    }
    @media #{$small-only} {
      > *:before {
        display: none;
      }
    }
  }
}
