@import "variables";

h2 {
  i {
    font-size: 2rem;
    color: $iron;
  }
}

#one, #two, #three {
  .button {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      &:before {
        content: '•';
        margin-right: 5px;
        color: $gces-blue;
        text-indent: -12px;
      }
    }
  }
  padding: 0 40px;

  input[type="submit"] {
    float: right;
  }
	span.optional {
		display: none;
	}

  > .columns {
    padding: 4rem 0;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.75em;
    line-height: 1.3em;

    &.intro {
      font-weight: 300;
      color: $jet;
    }
  }
}

#one {
  text-align: center;


  ul {
    margin: 0 auto;
    width: 260px;

    &.dropdown {
      display: none;
    }

    li {
      &:before {
        content: none;
      }
    }
  }

  li:hover > ul.dropdown {
    display: block;
    background: #EEE;

    li {
      width: auto;
      margin: 0;

      &:hover {
        background: #CCC;
      }

      &:first-child {
        border-bottom: 1px solid #CCC;
      }

      h5 {
        font-size: 13px;
        margin: 0;

        a {
          padding: 10px 0;
          display: block;
        }
      }
    }
  }

  img {
    margin: 2rem 0 0.5rem 0;
  }

  #new_search {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    clear: both;
    overflow: hidden;  

    input {
      &[type="text"] {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
      }
      &[type="submit"] {
        padding: 0.5rem 1rem;
        height: 2.3125rem;
        font-size: 0.8rem;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;        
      }
    }
  }

  .button {
    margin: 0 5px;
    border-radius: 2px;
  }

  .login {
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: $gces-blue transparent transparent transparent;
      border-left-style: solid;
      margin-right: -15px;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
.introbg, .benefit {
  padding: 3rem 0;
}
.introbg {
  background: $gces-green image-url("introbg.png");

  h1, h3 {
    color: scale-color($gces-green, $lightness: -80%);
    text-shadow: 1px 1px 0  scale-color($gces-green, $lightness: 50%);
    margin: 0;
  }
  h3 {
    border-bottom: none;
  }
}
.benefit {
  &.even {
    background: $white-smoke;
  }
}

