@import "variables";

.button {
  &.download, &.upload {
    margin: 0.5rem 0 0;
    width: 200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
strong {
  font-weight: 600;
}
/*** MAIN ***/
.main {
  h1 {
    font-size: rem-calc(28);
    font-weight: 600;
  }
  h3 {
    margin: 1rem 0 0.25rem;
    color: $tuatara;
  }
  .abstract {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .project {
    border-bottom: 1px solid #DDD;

    strong {
      font-weight: 600;
    }

    .info {
      margin-bottom: 0.5rem;
      line-height: 18px;

      .focus {
        font-size: rem-calc(13);
        color: $aluminum;
      }
    }
    .desc {
      font-size: rem-calc(13);
    }
    h5 {
      font-weight: 600;
      margin-bottom: 0.25rem;
      font-size: rem-calc(22);
    }
    .date {
      color: $aluminum;
      font-size: rem-calc(13);
    }
  }
}

/*** SIDEBAR ***/
.sidebar {
  table {
    border: none;
    background: none;
    tr {
      background: none;

      td {
        background: none;
        padding: 0 rem-calc(5);
        font-size: rem-calc(13);

        &:first-child {
          font-weight: 600;
          padding-left: 0;
        }
      }
    }
  }
  .small-12.columns {}
  .row {
    p, ul, ol {
      font-size: rem-calc(13);
      margin-bottom: 1rem;
    }
    h4 {
      font-size: rem-calc(20);
      font-weight: 400;
      border-bottom: 1px solid $gainsboro;
    }
    &:first-child {
      h4 {
        margin-top: 0;
      }
    }
  }
}
