@import "variables";

.button {
  &.download, &.upload {
    margin: 0.5rem 0 0;
    width: 200px;
  }
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
}
strong {
  font-weight: 600;
}
/*** MAIN ***/
.main {
  table {
    border: none;
    background: none;

    &.contact {
      tr {
        td {
          &:first-child {
            width: 95px;
          }
        }
      }
    }
    tr {
      background: none;

      td {
        background: none;
        padding: rem-calc(1) rem-calc(5);
        font-size: rem-calc(15);

        &:first-child {
          font-weight: 200;
          color: $aluminum;
          padding-left: 0;
          width: 115px;
        }
      }
    }
  }

  h1 {
    font-size: rem-calc(28);
    font-weight: 600;
  }
  h3 {
    margin: 1.5rem 0 0.5rem;
    padding-bottom: rem-calc(2);
    color: $gces-red;
  }
  .abstract {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .project {
    border-bottom: 1px solid #DDD;

    strong {
      font-weight: 600;
    }

    .info {
      margin-bottom: 0.5rem;
      line-height: rem-calc(20);

      .focus {
        font-size: rem-calc(13);
        color: $aluminum;
      }
    }
    .desc {
      font-size: rem-calc(13);
    }
    h5 {
      font-weight: 600;
      margin-bottom: 0.25rem;
      font-size: rem-calc(22);
    }
    .date {
      color: $aluminum;
      font-size: rem-calc(13);
    }
  }
}


/*** SIDEBAR ***/
.sidebar {
  table {
    border: none;
    background: none;
    tr {
      background: none;

      td {
        background: none;
        padding: 0 rem-calc(5);
        font-size: rem-calc(13);

        &:first-child {
          padding-left: 0;
          color: $aluminum;
          width: 80px;
        }
      }
    }
    &.security {
      tr {
        td {
          &:first-child {
            width: 120px;
          }
        }
      }
    }
  }
  .small-12.columns {}
  .row {
    p, ul, ol {
      font-size: rem-calc(13);
      margin-bottom: 1rem;
    }
    h4 {
      font-size: rem-calc(16);
      font-weight: 600;
      border-bottom: 1px solid $gainsboro;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: $monsoon;
      padding-bottom: 2px;
    }
    &:first-child {
      h4 {
        margin-top: 0;
      }
    }
  }
}
