<p>Hello <%= @resource.first_name %>!</p>

<p>Global Consultant Exchange recently received a request for a password reset. To change
  your password, please click the 'Change my password' link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request to reset your password, please ignore this email.</p>
<p>Your current password will not change until you access the link above to create a new password.</p>
