<%= simple_form_for @form, url:  consultant_upload_resumes_path, method: :post do |f| %>
    <%= f.input :resume, as: :file %>
    <p>
      <small class="red">
        <%= t('simple_form.labels.consultant.instruction') %>
      </small>
    </p>
    <%= f.button :submit %>
<% end %>
