<%= render 'header' %>
<div class="wizard">
  <h2>Congratulations, you have completed the Profile Builder.</h2>

  <h3>Once the agreement is completed, please go to the project editor and add two or more project
    profiles and references to your search data so we can quickly approve your profile for
    search.</h3>
  <%= link_to 'Continue to Contract', next_wizard_path, class: 'button primary' %>
  <aside>
    <h5>Learn why the GCES Contract is important for you</h5>

    <p>
      There is no charge to accept the contract, join our network and gain access to new companies needing your skills and expertise. The agreement between you and GCES is non-exclusive.
All Consultants and Government Contractors with access to GCES’ website accept our standard contract. The contract contains terms and conditions to protect the interest of all parties including you, GCES, and our Client Companies. Our contract documents fair and transparent ground rules, and it helps you retain your status as an independent, free-lance consultant. 
After you accept the contract and we complete our quality control process, you become a member of the GCES consulting network and are granted access to a personal dashboard to edit and update your profile, anytime. Your dashboard also includes a mailbox to receive and send messages to companies needing consultant support. 
    </p>
  </aside>
</div>
