<%= render 'header' %>
<div class="wizard">
  <div id="progress" class="consultant" data-magellan-expedition="fixed">
    <div class="row">
      <ul>
        <li data-magellan-arrival='contract'>
          <a class="button secondary" href="#contract">Contract</a>
        </li>
        <li data-magellan-arrival='attachment-1'>
          <a class="button secondary" href="#attachment-1">Attachment 1</a>
        </li>
        <li data-magellan-arrival='attachment-2-part-1'>
          <a class="button secondary" href="#attachment-2-part-1">Attachment 2 - Part 1</a>
        </li>
        <li data-magellan-arrival='attachment-2-part-2'>
          <a class="button secondary" href="#attachment-2-part-2">Attachment 2 - Part 2</a>
        </li>
        <li data-magellan-arrival='attachment-3'>
          <a class="button secondary" href="#attachment-3">Attachment 3</a>
        </li>
      </ul>
    </div>
  </div>
<%= simple_form_for @form, url: create_profile_path(:contract), method: :put do |f| %>
  <%= render 'consultants/contract_details' %>
  <%= render 'footer', f: f %>
<% end %>
</div>
