<%= render 'header' %>
<div class="wizard">

  <h2>Global Consultant Exchange Services (GCES) Profile Builder</h2>


  <h3>Welcome! For your profile to become searchable quickly, please complete the following three
    actions.</h3>

  <ol type="A">
    <li><strong>Complete the GCES Profile Builder</strong><br>
      The 5-Step Profile Builder helps you create a secure on-line consulting profile that is
      viewable
      by approved government contractors in the GCES network. The Profile Builder takes about an
      hour
      to complete. As you navigate forward through each step, your profile information is
      automatically saved. This allows you to exit the system and return to complete the process.
    </li>
  </ol>
  <blockquote>
    <p class="nosp"><strong>Step 1:</strong> The Basic Information step &ndash; Input personal
      information including your resume.<br>

      <strong>Step 2:</strong> The Qualifications step &ndash; Input your education and training,
      professional certifications, skills, and expertise.<br>

      <strong>Step 3:</strong> The Other Information step &ndash; Input information about your
      military history, published bill rate, and willingness to travel. <br>

      <strong>Step 4:</strong> The Background Information step &ndash; Validate background
      information, including your citizenship.<br>

      <strong>Step 5:</strong> The Project History step &ndash; Input the first of at least three
      project or assignment histories with verification contact information.<br>
      <ul class="sub">
        <i>Note: We use the term “project” very broadly. Any significant responsibility for a period of time with an expected outcome falls under our use of the term “project”. The term includes responsibilities ranging from leading an organization or unit that achieved strategic objectives to personally accomplishing some specific assigned objective or performing some specific job the yields a result.</i>
      </ul>
      <br>
      We want you to enter the “things you have done” that evidence the skills and performance a company could correlate with the help they need winning or performing Government programs or achieving important company goals.<br>
      We recommend that you:<br></p>
    <ul class="sub">
      <li>Contact all of the project verification contacts you provide. We normally require
        verification of the data from at least three projects before releasing a profile for search.
        Contact us if this is an issue for you.
      </li>
      <li>Fully exploit the Profile Experience and Project Description fields to provide important
        details that a searcher may find valuable in selecting candidate consultants for direct
        communication and negotiation. These description fields are included in search abstracts for
        review by the searcher.
      </li>
    </ul>
  </blockquote>
  <ol type="A" start="2">
    <li><strong>Sign the Consultant Agreement online</strong></li>
    <li><strong>After completing the agreement, use the project editor to add two or more projects with contact information</strong></li>
  </ol>

  <%= link_to 'Begin Profile Builder ›', next_wizard_path, class: 'button primary' %>

</div>
