<%= render 'header' %>
<div class="wizard">

<h2>Global Consultant Exchange Services (GCES) Profile Builder</h2>

<%= link_to 'Begin Profile Builder', next_wizard_path, class: 'button primary right' %>

<p>Welcome to the 5-Step GCES Profile Builder. The Profile Builder helps you create a secure on-line consulting profile. Your consulting profile is only viewable by approved Companies in the GCES network. The Profile Builder takes 30-45 minutes to complete. As you navigate forward through each step, your profile information is automatically saved. This allows you to exit the system, and to return later to complete the process. </p>

<p>When you’re finished, your personal profile will be searchable by companies looking for consultants with your skills. After you complete the initial Profile Builder, you can edit, update, and expand on your profile at any time in the future using your personalized consultant dashboard. Learn more about the Profile Builder Requirements below.  
</p>

<p><strong>Step 1:</strong> The Basic Information step will ask you to input personal information 
  including your resume.</p>
<p><strong>Step 2:</strong> The Qualifications step will allow you to input your professional 
  certifications, skills, and expertise.
</p>
<p><strong>Step 3:</strong> The Other Information step will guide you through inputting 
  information about your military history, bill rate, and willingness to travel.
</p>
<p><strong>Step 4:</strong> The Background Information step will validate background information 
  some of which includes your citizenship.
</p>
<p><strong>Step 5:</strong> The Project History step will step you through creating your first 
  project in our system.
</p>
