<%= render 'header' %>

<p>You have initiated our Profile Builder. It is an automated process designed to get you through initial profile entry and into our search database quickly. The following guide will help you negotiate the process quickly and optimize your success.</p>
<p>The Profile Builder process is designed to be completed in one setting. It will take about a hour following the guide outlined below. You can start and stop entering data into the Profile Builder at anytime, but you must enter save for a given page, or the data for that page will need to be re-entered upon sign in.</p>

<h3>Overview</h3>
<p class="li"><strong>To quickly engage consultants, our client companies:</strong></p>
<ol type="a">
  <li>Choose from the same set of criteria you enter</li>
  <li>Our process provides a prioritized list of candidates based on
    <ul>
      <li>Criteria match</li>
      <li>Description field search match</li>
      <li>Distance from work site</li>
      <li>Advertized hourly rate</li>
    </ul>
  </li>
  <li>Review selected summary pages from the prioritized list</li>
  <li>Review resumes for candidates of interest</li>
  <li>Request contact information and receive acknowledgement of interest from the finalists (Note – to protect your privacy, the contact information on you PDF resume will only be accessible to our client company decision maker after you have verified you interest in project.)</li>
  <li>Communication with interested finalist</li>
  <li>Come to agreement on terms of engagement with the consultant</li>
  <li>Provide a purchase order to GCES to initiate the engagement</li>
  <li>We take care of all contracting and administration</li>
</ol>
<h3>Profile Builder Walkthrough</h3>
<ol type="a">
  <li>It typically takes about an hour to complete your profile</li>
  <li>It typically takes about 48 hours to be included in our searchable consultant database</li>
  <li>Once you have completed the Profile Builder and you select submit, you will still be able to add, delete, and edit your profile as long as you are registered on the GCES website.</li>
  <li>To optimize your likelihood of being identified for consulting opportunities of interest to you, we recommend you enter a minimum of three past projects
    <ul>
      <li>That represent the job title that you prefer to work in</li>
      <li>Where you can provide an email address for an individual reference for the project, who will quickly respond to a short email survey</li>
      <li>That are in the geographic location you would most prefer to work, preferably near you place of residence or in an area where the client company will incur minimum travel expenses</li>
      <li>Recent projects tend to be better</li>
    </ul>
  </li>
  <li>The description field is provided to enable you to include details beyond the common search criteria. The description field is searchable, should our client company enter additional requirements beyond the common search criteria. The description field is displayed as part of your summary page upon request by the searcher. Examples of additional information you might want to include in the description field
    <ul>
      <li>Certifications, degrees or experiences more specific than the choices included in the pull down menus</li>
      <li>Project names or title of the Program or Task Order pursued or supported</li>
      <li>Client company names or specific divisions of a client company</li>
      <li>Specific divisions of Government Agencies</li>
      <li>Elaborate on contributions made that go beyond the common search criteria</li>
    </ul>
  </li>
  <li>To minimize the time to complete the Profile Builder, please assemble the following information on at least 3 projects
    <ul>
      <li>Email and telephone contact information on a reference contact for each project</li>
      <li>Detailed information on each project:
        <ol type="i">
          <li>Up to 3 positions filled on each project (additional positions can be included in the description field)</li>
          <li>Your client company name</li>
          <li>Start, end months for projects</li>
          <li>Government Agency</li>
          <li>Clearance initiation, expiration dates</li>
          <li>PDF Resume</li>
          <li>Military Service start, end dates</li>
          <li>(list all of the fields in the Profile Builder)</li>
        </ol>
      </li>
    </ul>
  </li>
  <li>On Resume entry screen – Make sure it is clear that we only accept PDF files and that we will redact the contact information until the consultant confirms interest in pursuing a particular opportunity</li>
</ol>
<p><strong>Please upload a resume in Adobe PDF format only.</strong> (Note: We will only allow our client companies to access your contact information when you have verified your interest in pursuing a specific consulting opportunity.)</p>


<%= link_to 'Begin Profile Builder', next_wizard_path, class: 'button secondary' %>
