<%= render 'header' %>
<div class="wizard">

<h2>Congratulations, [Name]</h2>
<p>You successfully created your GCES profile and signed a contract to be a consultant in our global network. Our network gives you access to new companies in need of your skills and expertise. Click the link below to view, edit, and add more information to your profile.</p>
<%= link_to 'Continue to Consultant Dashboard', next_wizard_path, class: 'button primary' %>
<aside>
<h5>What should I do next?</h5>
<ol>
  <li>You completed the Profile Builder and signed a Consulting Contract to work as a independent 
    free-lance consultant in our GCES network. Our on-line network gives you access to companies 
    around the world searching for highly skilled, part-time, or temporary work.</li>
  <li>Your personal information and profile are secure and only viewable by approved Companies 
    who have signed contracts with GCES and who agree to follow our fair, transparent, and 
    standard practices.</li>
  <li>After you sign the GCES Consulting Contract, your profile becomes viewable by Companies 
    searching for key words, skills, experience, and other attributes contained in your profile.</li>
  <li>We recommend you click on the link above to view, edit, and add additional work history and 
    details to your consulting profile. Remember to be specific by citing detailed examples of the 
    work you performed along with the results you achieved. You improve your search results by 
    identifying specific standards, processes, and tools you used in your project work history.</li>
  <li>You should always ensure your profile is update-to-date and accurate, and that your hourly 
    billing rate is competitive with your peers. You can access and update your profile and hourly 
    rate anytime in the future by logging into GCES with your email and password. Once logged-in, 
    you have access to company messages and community forums.</li>
</ol>
</aside>
<p>&nbsp;</p>
