<div class="row">
  <div class="small-12 columns">
    <%= education.school %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= education.degree.label %>, <%= education.field_of_study %>
  </div>
</div>
