<div class="row">
  <div class="small-12 columns">
    <%= f.input :school %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.input :field_of_study %>
  </div>
  <div class="small-4 columns">
    <%= f.input :degree_id, build_simple_form_dropdown(Degree, collection: Degree.all) %>
  </div>
</div>
