<div class="row">
  <div class="small-12 columns">
    <p>
      <strong><%= education.school %></strong><br>
      <%= education.degree.label %>, <%= education.field_of_study %>
    </p>
  </div>
</div>
