<%= simple_form_for @education do |f| %>
    <%= f.error_notification %>

    <%= render 'education_fields', f: f %>

    <div class="row">
      <div class="small-12 columns">
        <%= f.button :submit, t('views.education.new.save') %>
      </div>
    </div>
<% end %>
