<div class="row">
  <div class="large-12 columns">
    <h1>Edit project</h1>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', project_histories_path %>
  </div>
</div>
