<% body_class('report-consultants-page') %>

<h1>Consultant Metrics</h1>

<div class="report">
  <div class="small-12 report-toolbar clearfix">
    <ul class="button-group round left">
      <li><button class="button tiny" id="offset-minus">&#8592;</button></li>
      <li><button class="button tiny" id="offset-plus">&#8594;</button></li>
    </ul>

    <div class="right filter-types">
      <button data-dropdown="drop-filter-types" data-options="align:left" class="button tiny dropdown" id="filter-types-btn">day</button><br>
      <ul id="drop-filter-types" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <li><a href="#" data-filter="day">day</a></li>
        <li><a href="#" data-filter="week">week</a></li>
        <li><a href="#" data-filter="month">month</a></li>
        <li><a href="#" data-filter="quarter">quarter</a></li>
        <li><a href="#" data-filter="year">year</a></li>
      </ul>
    </div>

    <h4 id="date-range"></h4>
  </div>

  <hr>

  <div class="report-data">
    <div id="consultant-login-chart" style="height: 300px;"></div>
    <div id="consultant-account-chart" style="height: 300px;"></div>
    <div id="loading" class="loading-indicator">
      <span class="spinner"></span>
    </div>
  </div>
</div>
