<% body_class('report-search-page') %>

<h3 class="text-center">Search Metrics</h3>

<div class="report">
  <div class="small-12 report-toolbar clearfix">
    <div class="right filter-types">
      <button data-dropdown="drop-filter-types" data-options="align:left" class="button tiny dropdown" id="filter-types-btn">today</button><br>
      <ul id="drop-filter-types" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <li><a href="#" data-filter="today">today</a></li>
        <li><a href="#" data-filter="last-week">last week</a></li>
        <li><a href="#" data-filter="last-month">last 1 month</a></li>
        <li><a href="#" data-filter="last-2-months">last 2 months</a></li>
        <li><a href="#" data-filter="last-3-months">last 3 months</a></li>
      </ul>
    </div>

    <h4 id="date-range"></h4>
  </div>

  <hr>

  <div class="report-data">
    <div class="row">
      <div class="small-12 columns">
        <div id="cumulative-search-graph" style="height: 300px;"></div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="search-metrics">
          <h3 class="text-center"><a href="#" class="top-trending" data-type="keywords">Trending Keywords</a></h3>
          <div id="trending-keywords" class="search-content"></div>
        </div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="search-metrics">
          <h3 class="text-center"><a href="#" class="top-trending" data-type="positions">Trending Positions</a></h3>
          <div id="trending-positions" class="search-content"></div>
        </div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="search-metrics">
          <h3 class="text-center"><a href="#" class="top-trending" data-type="areas">Trending Functional Areas</a></h3>
          <div id="trending-areas" class="search-content"></div>
        </div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="search-metrics">
          <h3 class="text-center"><a href="#" class="top-trending" data-type="departments">Trending Departments</a></h3>
          <div id="trending-departments" class="search-content"></div>
        </div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="search-metrics">
          <h3 class="text-center"><a href="#" class="top-trending" data-type="certifications">Trending Certifications</a></h3>
          <div id="trending-certs" class="search-content"></div>
        </div>
      </div>
      <div class="small-12 large-6 columns">
      </div>
    </div>
    <div id="loading" class="loading-indicator">
      <span class="spinner"></span>
    </div>
  </div>
</div>

<div id="trending-table-modal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
  <h3 id="modal-title" class="text-center"></h3>
  <div>
    <table id="top-trending-table">
      <thead>
        <tr>
          <th>Trending Subject</th>
          <th>Searched Count</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>