<%- if @new_design.nil? %>
<% flash.each do |key, value| %>
  <% next if key == 'timedout' %>
  <div data-alert class="alert-box <%= key %> text-center">
    <%= value -%>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<%- else %>
    <% flash.each do |key, value| %>
        <% next if key == 'timedout' %>
        <div data-alert class="ui-notification <%= key %>">
          <%= value -%>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
<%- end %>