<%- if @new_design.nil? %>
<footer>
  <div class="row">
    <p class="copyright">&copy;&nbsp;<%= Time.now.year %> Global Consultant Exchange Services, LLC. All Rights Reserved.
      <%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank' %>
      <%= link_to 'Terms of Service', terms_of_service_path, target: '_blank' %>
      <%= link_to 'GCES Admin', new_admin_session_path %>
    </p>
  </div>
</footer>
<%- else %>
<footer id="main-footer" role="contentinfo">
  <p class="site-tagline">Global Consultant Exchange Services, LLC</p>
</footer>
<%- end %>